<!DOCTYPE html>
{% macro pager(): %}
{% if paginator.page_count!=1 %}
<div class="pager">
{{paginator.pager(format='~5~')}}
</div>
{% endif %}
{% endmacro %}
<html>
<head>
<title>{% block title: %}{% endblock %}MSPARP</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/normalize.css">
<link rel="stylesheet" href="/static/css/newparp.css">
</head>
<body>

<header>
    <div id="users_online">
        <p>{{g.redis.get("connected_users") or 0}} connected</p>
        <p>{{g.redis.get("searching_users") or 0}} searching</p>
    </div>
    <h1><a href="{{url_for("home")}}"><img src="/static/img/logo.gif" alt="MSPARP"></a></h1>
</header>

<nav id="global_navigation">
    <label for="nav_toggle">Menu</label>
    <input type="checkbox" id="nav_toggle">
    <ul>
        <li><a href="{{url_for("home")}}">Character search</a></li>
        <li><a href="#">Roulette</a></li>
        <li><a href="{{url_for("rp_groups")}}">Group chats</a></li>
        <li><a href="#">Prompts</a></li>
        <li><a href="http://forums.msparp.com/" target="_blank">Forums</a></li>
        {% if g.user != None: %}
        <li class="user">
            <a href="#">{{g.user.username}}</a>
            <ul>
                <li><a href="{{url_for("rp_chat_list")}}">Your chats</a></li>
                <li><a href="{{url_for("rp_character_list")}}">Character creator</a></li>
                <li><form action="{{url_for("log_out")}}" method="post"><button type="submit">Log out</button></form></li>
            </ul>
        </li>
        {% endif %}
    </ul>
</nav>

<main>
    <section id="announcements">
        <h2>Announcements</h2>
        {{(g.redis.get("announcements") or "<p>No announcements.</p>")|safe}}
    </section>
{% block content: %}{% endblock %}
</main>

<footer>
    <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Suggestions</a></li>
        <li><a href="#">Affiliates</a></li>
        <li><a href="#">Guides</a></li>
        <li><a href="#">Site map</a></li>
    </ul>
</footer>

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/static/js/newparp.js"></script>
{% block scripts: %}{% endblock %}

</body>
</html>
