{% extends "base.html" %}
{% block title%}{% endblock %}
{% block header %}
<script src="/static/js/jquery.kinetic.min.js" type="text/javascript" charset="utf-8"></script>

<link rel="stylesheet" href="/static/css/chat.css?1">
<link rel="stylesheet" media="screen" type="text/css" href="/static/colorpicker/css/colorpicker.css" />
<script type="text/javascript" src="/static/colorpicker/js/colorpicker.js"></script>
<script src="/static/js/characters.js?1"></script>
<script src="/static/js/quirks.js"></script>
<script type="text/javascript">
    var user = {{user_chat_dict|tojson|safe}};
    //var chat = {{chat.id|tojson|safe}};
    var chat = {{chat.to_dict()|tojson|safe}};
    var latestNum = {{latest_num|tojson|safe}};
</script>

<script src="/static/js/chat.js"></script>
{% endblock %}
{% block content %}

<div id="topbar">
    <center>
       <a id="toptitle" href="/"><img src="/static/icon.png" /></a>
        <div id="topmenu">
            <div id="statusContain"><input type="text" id="statusInput" autocomplete="off" maxlength="50" placeholder="Status"><div type="button" id="statusButton">!</div></div>
            <div class="topborder"></div>
            <div id="disconnectButton">Disconnect</div>
            <div class="topborder"></div>
            <a id="goHelp" href="/help">Help</a>
            <div class="topborder"></div>
            <a id="goSupport" href="http://charatrp.tumblr.com/support">Donate</a>
        </div>
    </center>
    <span class="left">
        <span id="ooclet">C</span><span id="extain"><span id="reclaim">!</span><span id="exclaim">0</span></span>
    </span>
    <span class="right">
        <span class="userList">U</span> <span class="settings">S</span>
    </span>
</div>

<div id="conversation" class="body">
    <div id="convo">
        <p class="eMessages"><a href="/chat/{{chat.url}}/log">View earlier messages</a></p>
        {% for message in messages %}
        <span id="message{{message.id}}" class="{{message.type}} user{{message.user_id}}">
            <p class="message" style="color: #{{message.color}};">{% if message.acronym %}{{message.acronym}}: {% endif %}{{message.text}}</p>
            <p class="info">
                <span class="left">{{message.name}}{% if message.type != "ic" %}:{{message.type}}{% endif %}</span>
                <span class="right">{{message.user.username}} {{message.posted}}</span>
            </p>
        </span>
        {% endfor %}
    </div>
</div>

<div class="body">
<div id="userList" class="sidebar">
    <div class="sidebarContain">
        {% if chat.type=='group' %}
            <div id="groupMeta" class="card">
                <h1 class="titi hidedesc">{{chat.title}}</h1>
                <p id="topic">{{chat.description}}</p>
                <button type="button" id="topicButton" class="metaOptions">Set topic</button>
                <ul id="metaResults">
                    <div class="bar"></div>
                    <li id="autosilenceResult">New users are auto-silenced.</li>
                    <li id="publicResult">This chat is public.</li>
                    <li id="nsfwResult">This chat is not safe for work.</li>
                </ul>
            </div>
            <div class="card metaOptions stoptions">
                <h1 class="titi">CHAT SETTINGS</h1>
                <ul id="metaOptions">
                    <li><label><input type="checkbox" id="autosilence"><button>Autosilence</button></label></li>
                    <li><label><input type="checkbox" id="public"><button>Public Chat</button></label></li>
                    <li class="opmod"><label><input type="checkbox" id="nsfw"><button>NSFW</button></label></li>
                </ul>
           </div>
        {% endif %}
        <div id="onlineContainer" class="card">
            <h1 class="titi">USERS</h1>
            <ul id="online"></ul>
        </div>
    </div>
</div>

<form id="settings" class="sidebar">
    <div class="sidebarContain">
        <div class="card character">
            <div class="titi">CHARACTER DETAILS</div>
            <div class="left">
                <label>Name:</label><br />
                <label>Alias:</label><br />
                <label>Color:</label>
            </div>
            <div class="right">
                <input id="usingname" type="text" name="name" value="{{user_chat.name}}" maxlength="50" /><br />
                <input id="ailin" type="text" name="acronym" value="{{user_chat.acronym}}" maxlength="15" /><br />
                <input id="coln" type="text" name="color" value="{{user_chat.color}}" maxlength="6" />
            </div>
            <button class="big" type="submit">Apply</button>
        </div>

        <div class="card" id="typing-quirks">
            <div class="titi">TYPING PATTERNS</div>
            <div class="left">
                <label>Prefix: </label><br />
                <label>Suffix: </label><br />
                <label>Case: </label>
            </div>
            <div class="right">
                <input id="prei" type="text" name="quirk_prefix" value="{{user_chat.quirk_prefix}}" /><br />
                <input id="sufi" type="text" name="quirk_suffix" value="{{user_chat.quirk_suffix}}" /><br />
                <div class="select-bind"><div class="arrow">▼</div>
                    <select id="casing" name="case">
{% for value, name in case_options.items(): %}
                        <option value="{{value}}"{% if value==user_chat.case %} selected="selected"{% endif %}>{{name}}</option>
{% endfor %}
                    </select>
                </div>
            </div>

            <div class="titi">REPLACEMENTS</div>
            <div class="replacementContainer">
                <ul id="replacementList">
                    {% if user_chat_dict.replacements|length!=0 %}
                        {% for replacement in user_chat_dict.replacements %}
                            <li><input type="text" name="quirk_from" size="4" value="{{replacement[0]}}"> to <input type="text" name="quirk_to" size="4" value="{{replacement[1]}}"> <a href="#" class="deleteReplacement">x</a></li>
                        {% endfor %}
                    {% else %}
                        <li><input type="text" name="quirk_from" size="4"> to <input type="text" name="quirk_to" size="4"> <a href="#" class="deleteReplacement">x</a></li>
                    {% endif %}
                </ul>
                <a href="#" id="addReplacement">+Add another replacement</a>
                <br />
                <a href="#" id="clearReplacements">-Clear replacements</a>
            </div>
            <button class="big" type="submit">Apply</button>
        </div>

        <div class="card">
            <h1 class="titi">OPTIONS</h1>
            <div class="stoptions">
                <label id="confirmCloseToggle"><input type="checkbox" checked><button type="button" class="labeling">Confirm Window Close</button></label>
                <label id="oocToggle"><input type="checkbox"><button type="button" class="labeling">Out Of Character</button></label>
                <label id="bbColorToggle"><input type="checkbox" checked><button type="button" class="labeling">Show BBCode Colors (Refresh)</button></label>
                <div id="notificationHead" data-ng-app>
                    <div id="notificationController" data-ng-controller="NotificationCenter">
                        <p class="notificationLevel" ng-class="getClassName()" data-ng-click="requestPermissions()">
                            <label><input type="checkbox" class="deskset" name="deskset"><button type="button" class="labeling deskseta">Desktop Notifications</button></label>
                        </p>
                    </div>
               </div>
               <label id="previewToggle"><input type="checkbox"><button type="button" class="labeling">Show Preview</button></label>
           </div>
        </div>
        
        <div id="sharing" class="card stoptions">
            <h1 class="titi">Share On...</h1>
            <label><button type="button"><a href="http://www.tumblr.com/share/link?url=http%3A%2F%2Fcharatrp.com%2Fchat%2F{{chat.url}}&name=Charat - {{chat}}&description=Check out this cool group on Charat!&tags=charat, charatrp, roleplaying"
            id="tumShare" target="_blank">Tumblr</a></button></label>
            <label><button type="button"><a href="https://www.twitter.com/share?via=charatrp&url=http%3A%2F%2Fcharatrp.com%2Fchat%2F{{chat.url}}&name=Charat - {{chat}}&text=Check out this cool group on Charat!&hashtags=charat, charatrp, roleplaying"
            id="twitShare" target="_blank">Twitter</a></button></label>
            <label><button type="button"><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcharatrp.com%2Fchat%2F{{chat.url}}"
            id="faceShare" target="_blank">Facebook</a></button></label>
            <label><button type="button"><a href="http://www.Pesternote.com/partners/charat/share/?l={{chat.url}}" id="pestershare" target="_blank">Pesternote</a></button></label>
        </div>
    </div>
</form>

<form class="controls">
    <div id="preview"></div>
    <textarea id="textInput" name="textInput" maxlength="1500"></textarea>
    <button type="submit">Send</button>
</form>

<span class="hidden">
    <div id="save">
        <p>Did you enjoy that chat? If so, remember to save the log.</p>
            <form action="/logs/save" method="post" target="_blank"><p>
                <input type="hidden" name="chat" value="">
                <input id="saveLinking" type="submit" name="save" value="Save">
            </form>
        </p>
    </div>
</span>
</div>

{% endblock %}
