{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" media="screen" type="text/css" href="/static/css/home.css" />
<link rel="stylesheet" media="screen" type="text/css" href="/static/colorpicker/css/colorpicker.css" />
<script type="text/javascript" src="/static/colorpicker/js/colorpicker.js"></script>
<script src="/static/js/characters.js?8"></script>
<script src="/static/js/home.js"></script>
{% endblock %}

{% block content %}

<div id="topbar">
	<center>
	    <a id="toptitle" href="/">Charat</a>
        <div id="topmenu">
            <div class="topborder"></div>
            <a id="goUser" href="/user/{{g.user.username}}">Hello User!</a>
            <div class="topborder"></div>
            <a id="goPresets" href="#">Presets</a>
            <div class="topborder"></div>
            <a id="goGroups" href="/groups">Groups</a>
            <div class="topborder"></div>
            <a id="goHelp" href="/help">Help</a>
            <div class="topborder"></div>
            <form id="logout" action="{{url_for("log_out")}}" method="post">
                <a onclick="document.getElementById('logout').submit();">logout</a>
            </form>
        </div>
    </center>
</div>

<div class="body">
    <form id="frontform" method="post" action="" >
    <noscript>
        <h1>You completely need javascript for this site. Turn it on or upgrade to a real browser.</h1>
    </noscript>

    <div class="section" id="character-config">
        <div class="titli">CHARACTER SETTINGS</div>
        <div id="char_left" class="left">
            <div class="card char_search">
                <div class="titi">CHARACTER SEARCH</div>
                <input id="char_search" type="text" />
                <button class="char_search_button">Search Presets</button>
                <span>Start typing the name of a character or fandom you'd like to roleplay as and results will appear. Select the character to roleplay as them.</span>
            </div>
            <div class="card character">
                <div class="titi">CHARACTER DETAILS</div>
                <div class="left">
                    <label>Name:</label><br />
                    <label>Alias:</label><br />
                    <label>Color:</label>
                </div>
                <div class="right">
                    <input id="usingname" type="text" name="name" value="anonymous" maxlength="50" /><br />
                    <input id="ailin" type="text" name="acronym" value="??" maxlength="15" /><br />
                    <input id="coln" type="text" name="color" value="#000000" maxlength="6" />
                </div>
            </div>
            
            <div class="card pester-line" id="color-preview" style="color:#000000;">
                <span id="acronym">??: </span><span id="quote"></span>
            </div>
            {% if error=="color" %}<span class="error">You entered an invalid hex code. Try using the color picker.</span><br />{% endif %}
            <span id="inzone"><button class="save_character">Save Settings</button></span>
        </div>

        <div id="char_center" class="center">
            <div class="card" id="typing-quirks">
                <div class="titi">TYPING PATTERNS</div>
                <div class="left">
                    <label>Prefix: </label><br />
                    <label>Suffix: </label><br />
                    <label>Case: </label>
                </div>
                <div class="right">
                    <input id="prei" type="text" name="quirk_prefix" value="" /><br />
                    <input id="sufi" type="text" name="quirk_suffix" value="" /><br />
                    <div class="select-bind"><div class="arrow">▼</div>
                        <select id="casing" name="case">
                            <!-- CASE OPTIONS -->
                            <option value="Case">Case</option>
                        </select>
                    </div>
                </div>
                <!-- CASE ERROR -->

                <div class="titi">REPLACEMENTS</div>
                <div class="replacementContainer">
                    <ul id="replacementList">
                        /* REPLACEMENTS */
                        <li><input type="text" name="quirk_from" size="4" value=""> to <input type="text" name="quirk_to" size="4" value=""> <a href="#" class="deleteReplacement">x</a></li>
                    </ul>
                    <a href="#" id="addReplacement">+Add another replacement</a>
                    <br />
                    <a href="#" id="clearReplacements">-Clear replacements</a>
                </div>
            </div>
            <span id="inztwo"><button class="save_character">Save Settings</button><button class="save_preset">Save Character Preset</button></span>
        </div>
    </div>
    
    <div id="chat-config" class="section">
        <div class="titli">CHAT SETTINGS</div>
        <div class="card right">
            <div class="titi">CHAT STYLE</div>
            <div class="select-bind"><div class="arrow">▼</div>
                <select name="para">
                    <!-- PARAGRAPH PICKY OPTIONS -->
                    <option value="">No preference</option>
                    <option value="0">Script</option>
                    <option value="1">Paragraph</option>
                </select>
            </div>
        </div>
        <div class="card right">
            <div class="titi">CHAT CONTENT</div>
            <div class="select-bind"><div class="arrow">▼</div>
                <select id="nsfwsfw" name="nsfw">
                    <!-- NSFW PICKY OPTIONS -->
                    <option id="sfwsel" value="0">Safe for work</option>
                    <option id="nsfwsel" value="1">Not safe for work</option>
                    <option id="nopref" value="2">No preference</option>
                </select>
            </div>
        </div>
        <div class="card right">
            <div class="titi">TAGS</div>
            <textarea class="tags" name="tags" size="5" maxlength="500" placeholder="Seperate tags with commas: your tags, -exclude this tag"></textarea><div class="clear"></div>
            <div class="stats">
                <!-- STATS -->
            </div>
        </div>
        <span id="inzthree"><button class="save_character">Save Settings</button><button class="save_preset">Save Character Preset</button><input type="submit" name="search" value="Start Chatting"></span>
    </div>
</div>
</form>
{% endblock %}