{% extends "base.html" %}

{% block header %}
<title>Charat - Intuitive Fanservice</title>
{% endblock %}

{% block content %}
    <div id="main-block" class="block-container"><div class="block">
        <logo>+</logo>
        <header>Charat</header>
        <subtitle>Intuitive Fanservice</subtitle>
    </div></div>
    
    <div class="block-container"><div class="block">
        {% if not logged_in %}
        <header>Welcome Guest</header>
        <subtitle>What would you like to do?</subtitle>
        <a class="block-button" href="{{url_for("login_get")}}">Login/Register</a>
        {% else %}
        <header>Welcome {{g.user.username}}</header>
        <subtitle>What would you like to do?</subtitle>
        <a class="block-button" href="/settings">Settings</a>
        <a class="block-button" href="{{url_for("logout")}}">Log Out</a>
        {% endif %}
    </div></div>
    
    <div class="block-container"><div class="block">
        <header>Charat Roleplay</header>
        <subtitle>Character Chat</subtitle>
    </div></div>
    
    <div class="block-container"><div class="block">
        <header>Sample</header>
        <subtitle>Lorem Ipsum</subtitle>
    </div></div>
    
    <div class="block-container"><div class="block">
        <header>Sample</header>
        <subtitle>Lorem Ipsum</subtitle>
    </div></div>
    
    <div class="block-container"><div class="block">
        <header>Sample</header>
        <subtitle>Lorem Ipsum</subtitle>
    </div></div>
    
    <div class="block-container"><div class="block">
        <header>Sample</header>
        <subtitle>Lorem Ipsum</subtitle>
    </div></div>
    
    <div class="block-container"><div class="block">
        <header>Sample</header>
        <subtitle>Lorem Ipsum</subtitle>
    </div></div>
{% endblock %}