{% extends "base.html" %}

{% block header %}
<title>Charat - Login</title>
<style>
    #main-block {
        height: 220px;
    }
    
    #main-block header {
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block content %}
<div id="main-block" class="block-container"><div class="block">
    <a href="{{url_for("home")}}">
        <logo>+</logo>
        <header>Charat</header>
    </a>
    <form action="{{url_for("login_post")}}" method="post">
        <input id="logUsername" type="text" name="username" placeholder="Username">
        <input id="logPassword" type="password" name="password" placeholder="Password">
        <button class="block-button" type="submit">Login</button>
    </form>
    <span class="error">{{log_in_error}}</span>
</div></div>
{% endblock %}

