/* 
4. Chat window
	1. Topbar and info panel
	2. PM chat list
	3. Sidebars
	4. Conversation and send form
	5. Log pages
*/

#spinner, #activity_spinner {-webkit-filter: grayscale(100%); filter: grayscale(100%);}

#conversation a, .rules a, .description a, #text_preview a, #text_preview, #text_preview_acronym {color: #444 !important;}
#conversation a:hover {color:#666 !important}

#conversation a:visited, .rules a:visited, .description a:visited, #text_preview a:visited {
	color: #000 !important;
}

#conversation a:hover, .rules a:hover, .description a:hover, #text_preview a:hover {
	color: #666 !important;
}

/* 4. Chat window */

.chat #conversation p, .chat #conversation span {color:#000!important;}
.chat #conversation span {background:none!important;}

/* 4.3. Sidebars */

#user_list li {color: #000!important;}

