/* 
4. Chat window
	1. Topbar and info panel
	2. PM chat list
	3. Sidebars
	4. Conversation and send form
	5. Log pages
*/

/* 4. Chat window */

body.chat { background-color:#1d1f2c; color: #626262 }
.chat input, .chat textarea, .chat button, .chat select { background-color: #535353; color:#ccc; }

/* 4.1. Topbar and info panel */

#topbar { background-color: #000; }
#topbar h1 { background-color:#000; color:#d12614; }
#info_panel, #edit_info_panel { background-color: #000; }
#description { color:#29ab22; }
#rules { color:#29ab22; }

/* 4.2. PM chat list */

#pm_chat_list a { color: #29ab22; }
#pm_chat_list a.online { color: #d12614; }

/* 4.3. Sidebars */

.sidebar { background-color: #000; }

/* 4.4. Conversation and send form */

#conversation { background-color: #000; }
#status_bar { color: #666; }
.unum { color:#868686; }
.highlighted { background-color: #1d1f2c; color:#ccc; }

.spoiler { border: 1px dashed #1d1f2c; }

#conversation hr { border-color: #1d1f2c; }

.chat #text_preview { background-color: #000; }
#log_button { background-color: #535353; color: #ccc; }

/* 4.5. Log pages */

.chat .pager, #archive_conversation { background-color: #000; }

/* Color Overrides */

/* override character colours */

*[style*="color: #000056"],*[style*="color: rgb(0, 0, 86)"]{ color: #2323ed !important }
*[style*="color: #2b0057"],*[style*="color: #2B0057"],*[style*="color: rgb(43, 0, 87)"]{ color: #6d03de !important }
*[style*="color: #0715cd"],*[style*="color: #0715CD"],*[style*="color: rgb(7, 20, 205)"]{ color: #172aff !important }


/* Transparency instead of solid colour for shenanigans */

#text_preview, #topbar { background-color: rgba(0,0,0,.67) !important }


/* Gristmas snow */

@keyframes snowdrift_main {
    0% { background-position: 0px bottom, 0 0; }
    20% { background-position: 0px bottom, -800px 10px; }
	41% { background-position: 0px bottom, -400px 134px; }
	76% { background-position: 0px bottom, 400px 190px; }
	90% { background-position: 0px bottom, 400px 201px; }
	100% { background-position: 0px bottom, 0px 300px; }
}

@keyframes snowdrift_side {
    0% { background-position: 0px bottom, center bottom, 0 0; }
    20% { background-position: 0px bottom, center bottom, -800px 10px; }
	41% { background-position: 0px bottom, center bottom, -400px 134px; }
	76% { background-position: 0px bottom, center bottom, 400px 190px; }
	90% { background-position: 0px bottom, center bottom, 400px 201px; }
	100% { background-position: 0px bottom, center bottom, 0px 300px; }
}

#pm_chat_list_container, #info_panel, #conversation, .chat .pager, #archive_conversation { background: url('/static/img/sn0wfloor_b.gif') repeat-x, rgba(0,0,0,.67) url('/static/img/sn0w_b.gif') repeat; background-position: 0px bottom, 0px 0px; animation: snowdrift_main 41.3s ease-in-out infinite; }

#info_panel { background-color: #000}

.sidebar, .sidebar.kringle { background: url('/static/img/sn0wfloor_b.gif') repeat-x, url('/static/img/kringlefucker.png') no-repeat, rgba(0,0,0,.67) url('/static/img/sn0w_b.gif') repeat; background-position: 0px bottom, center bottom, 0px 0px; animation: snowdrift_side 41.3s ease-in-out infinite; }

.sidebar.manorah { background: url('/static/img/sn0wfloor_b.gif') repeat-x, url('/static/img/manorah_b.gif') no-repeat, rgba(0,0,0,.67) url('/static/img/sn0w_b.gif') repeat; background-position: 0px bottom, center bottom, 0px 0px; animation: snowdrift_side 41.3s ease-in-out infinite; }

.sidebar.geromy { background: url('/static/img/sn0wfloor_b.gif') repeat-x, url('/static/img/geromy.png') no-repeat, rgba(0,0,0,.67) url('/static/img/sn0w_b.gif') repeat; background-position: 0px bottom, center bottom, 0px 0px; animation: snowdrift_side 41.3s ease-in-out infinite; }

.sidebar.omg { background: url('/static/img/sn0wfloor_b.gif') repeat-x, url('/static/img/omg.png') no-repeat, rgba(0,0,0,.67) url('/static/img/sn0w_b.gif') repeat; background-position: 0px bottom, center bottom, 0px 0px; animation: snowdrift_side 41.3s ease-in-out infinite; }


/* conksuck list styles */

li {
	background: url('/static/img/minisuck.png') no-repeat 3px 0px transparent;
    list-style-type: none;
    vertical-align: middle;
	position:relative;
	left:-24px;
	padding-left:24px;
	padding-bottom:3px;
} 


/* insert the BIG MAN */

@keyframes thebigmancomes {
    0% { top:50%; right:-500px; transform: rotate(10deg)}
    95% { top:50%; right:-500px; transform: rotate(10deg)}
	97% { top:22%; right:50%; transform: rotate(-10deg)}
	100% { top:-200px; right:100%; transform:rotate(250deg) }
} 

/*
@keyframes thebigmancomes {
    0% { top:50%; right:-500px; transform: rotate(10deg)}
	3% { top:22%; right:50%; transform: rotate(-10deg)}
	6% { top:-200px; right:100%; transform:rotate(250deg) }
	100% { top:-200px; right:100%; transform:rotate(250deg) }
} */

body { overflow:hidden }

.sbigman  {
	content: "";
	position:absolute;
	width:500px;
	height:375px;
	top: 50%;
	right: -500px;
	z-index: -1;
	background: url('/static/img/secret.gif') 0 0 repeat;
	animation: thebigmancomes 6120s linear infinite;
}


/* Grisly Color Overrides */

/* override character colours */

*[style*="color: #000000"], *[style*="color: rgb(0, 0, 0)"], *[style*="color: #000000"].system, *[style*="color: rgb(0, 0, 0)"].system { color: #29ab22 !important; }

body.chat, .chat p, .sidebar h3  { color: #29ab22; }
 
a, #user_list_container a,  h2, h3 label { color: #d12614; }

.sidebar ul, .sidebar p, .sidebar h2, #mod_tools { background-color:rgba(10,10,14,.8); border-radius:8px; }

.sidebar h2 { white-space:nowrap; }

.button.close { display:block; }

h2:before, h2:after {
	content: "";
	display:inline-block;
	width:70px;
	height:25px;
	background: url('/static/img/minilights_b.gif') 0 0 repeat;
	background-size:100% 100%;
	vertical-align:middle;
}

/* only one set of lights in uncollapsed settings */

@media (min-width: 500px) {
	#switch_character h2:before, #switch_character h2:after,#settings h2:before { content:none; }
}
	
h2:before { margin-right:6px }
h2:after { margin-left:6px}  
 
.chat button, #log_button { background-color: #d12614; color:#0a0a0e; }
.chat button:hover, #log_button:hover { background-color: #e13624; }



/* fix mobile styles */

.nodrift .sidebar, .nodrift #pm_chat_list_container, .nodrift #info_panel, .nodrift #conversation, .nodrift .chat .pager, .nodrift #archive_conversation { animation:none; }

@media (max-width: 500px) {
	#text_preview, #topbar, .sidebar { background-color: #0a0a0e !important; }
	.sidebar, #pm_chat_list_container, #info_panel, #conversation, .chat .pager, #archive_conversation  { animation:none; }
	.sbigman { display: none !important; }
}

/* style scrollbars */

* { scrollbar-base-color: #b9b9b9;scrollbar-arrow-color: #b9b9b9;scrollbar-shadow-color: #eee; scrollbar-track-color: #eee; }
*::-webkit-scrollbar-button { display:none; }
*::-webkit-scrollbar { width:15px; }
*::-webkit-scrollbar-track, *::-webkit-scrollbar-corner { background: transparent; }
*::-webkit-scrollbar-thumb { background-color: #d12614; }

