{% extends "base.html" %}
{% block title: %}Admin tools - {% endblock %}
{% block content: %}
    <div class="common_box">
        <h2><label><span>Admin tools</span></label></h2>
        <div class="common_box_wrap" id="admin_toolbox">
            <ul>
                {% if g.user.has_permission("search_characters"): %}
                <li><a href="{{url_for("rp_search_character_list")}}">Search character creator</a></li>
                {% endif %}
                {% if g.user.has_permission("announcements"): %}
                <li><a href="{{url_for("admin_announcements")}}">Edit announcements</a></li>
                {% endif %}
                {% if g.user.has_permission("broadcast"): %}
                <li><a href="{{url_for("admin_broadcast")}}">Broadcast</a></li>
                {% endif %}
                {% if g.user.has_permission("user_list"): %}
                <li><a href="{{url_for("admin_user_list")}}">Full user list</a></li>
                <li><a href="{{url_for("admin_block_list")}}">Block list</a></li>
                {% endif %}
                {% if g.user.has_permission("permissions"): %}
                <li><a href="{{url_for("admin_permissions")}}">Permissions</a></li>
                {% endif %}
                {% if g.user.has_permission("groups"): %}
                <li><a href="{{url_for("admin_groups")}}">Full group chat list</a></li>
                {% endif %}
                {% if g.user.has_permission("log"): %}
                <li><a href="{{url_for("admin_log")}}">Log</a></li>
                {% endif %}
                {% if g.user.has_permission("spamless"): %}
                <li><a href="{{url_for("spamless_home")}}">Spamless</a></li>
                {% endif %}
                {% if g.user.has_permission("ip_bans"): %}
                <li><a href="{{url_for("admin_ip_bans")}}">IP bans</a></li>
                {% endif %}
                <li><a href="{{url_for("admin_worker_status")}}">Worker status</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

