{% extends "base.html" %}
{% block title: %}#{{user.id}} {{user.username}} - {% endblock %}
{% block content: %}
    <h2>Reset password</h2>
    <form action="{{url_for("admin_user_reset_password", username=user.username)}}" method="post">
        <input type="hidden" name="token" value="{{g.csrf_token}}">
        <p>Are you sure you want to reset {{user.username}}'s password?</p>
        <p><button type="submit">Yes</button> <a href="{{url_for("admin_user", username=user.username)}}">No</a></p>
    </form>
{% endblock %}

