{% extends "base.html" %}
{% block title: %}Users - {% endblock %}
{% block content: %}
    <div class="common_box admin_wide">
        <h2><label><span>Users</span></label></h2>
        <div class="common_box_wrap">

            <nav id="subnav">
                Group:
                {% if not request.args.group: %}
                <span class="tab_active">All</span>
                {% else %}
                <a href="{{url_for("admin_user_list", **group_link_args)}}">All</a>
                {% endif %}
                {% for group in User.group.type.enums: %}
                {% if request.args.group == group: %}
                <span class="tab_active">{{ group.capitalize() }}</span>
                {% else %}
                <a href="{{url_for("admin_user_list", group=group, **group_link_args)}}">{{ group.capitalize() }}</a>
                {% endif %}
                {% endfor %}
            </nav>

            <form action="{{url_for("admin_user_list")}}" method="get">
                {% if request.args.group %}<input type="hidden" name="group" value="{{ request.args.group }}">{% endif %}
                <div class="input"><p><input type="text" id="search_username" name="username" {% if request.args.username %}value="{{ request.args.username }}"{% endif %}><label for="search_username">Username</label></p></div>
                <div class="input"><p><input type="text" id="search_ip" name="ip" {% if request.args.ip %}value="{{ request.args.ip }}"{% endif %}><label for="search_ip">IP address</label></p></div>
                <div class="input"><p><input type="text" id="search_email" name="email" {% if request.args.email %}value="{{ request.args.email }}"{% endif %}><label for="search_email">Email</label></p></div>
                <label for="select_sort" class="textlabel">Order by</label><div class="input select"><p><select name="order" id="select_sort">
                {% for id, order in user_orders.items(): %}
                    <option value="{{ id }}"{% if request.args.order == id: %} selected{% endif %}>{{ order.name }}</option>
                {% endfor %}
                </select></p></div>
                <p><button type="submit">Search</button></p>
            </form>

            {{ pager() }}
            {% if users: %}
            <table class="admin_userlist">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Group</th>
                        <th>Admin tier</th>
                        <th>Created</th>
                        <th>Last online</th>
                        <th>Last IP</th>
                        <th>Time zone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users: %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td><a href="{{url_for("admin_user", username=user.username)}}">{{user.username}}</a></td>
                        <td>{{user.group.capitalize()}}</td>
                        <td>
                            {% if user.admin_tier: %}
                            <a href="{{url_for("admin_admin_tier_get", admin_tier_id=user.admin_tier_id)}}">{{user.admin_tier.name}}</a>
                            {% else: %}
                            {{user.admin_tier.name}}
                            {% endif %}
                        </td>
                        <td>{{g.user.localize_time(user.created).strftime("%Y-%m-%d %H:%M:%S")}}</td>
                        <td>{{g.user.localize_time(user.last_online).strftime("%Y-%m-%d %H:%M:%S")}}</td>
                        <td>{{user.last_ip}}</td>
                        <td>{{user.timezone}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else: %}
            <p>No users.</p>
            {% endif %}
            {{ pager() }}
        </div>
    </div>
{% endblock %}

