{% extends "base.html" %}
{% block title: %}Users - {% endblock %}
{% block content: %}
    <h2>Users</h2>

    <nav id="subnav">
        Group:
        {% if not request.args.group: %}
        All
        {% else %}
        <a href="{{url_for("admin_user_list", **group_link_args)}}">All</a>
        {% endif %}
        {% for group in User.group.type.enums: %}
        {% if request.args.group == group: %}
        {{ group.capitalize() }}
        {% else %}
        <a href="{{url_for("admin_user_list", group=group, **group_link_args)}}">{{ group.capitalize() }}</a>
        {% endif %}
        {% endfor %}
    </nav>

    <form action="{{request.path}}" method="get">
        {% if request.args.group %}<input type="hidden" name="group" value="{{ request.args.group }}">{% endif %}
        <p>Username: <input type="text" name="username" value="{{ request.args.username }}"></p>
        <p>IP address: <input type="text" name="ip" value="{{ request.args.ip }}"></p>
        <p>Order by: <select name="order">
        {% for id, order in user_orders.items(): %}
            <option value="{{ id }}"{% if request.args.order == id: %} selected{% endif %}>{{ order.name }}</option>
        {% endfor %}
        </select></p>
        <p><button type="submit">Search</button></p>
    </form>

    {{ pager() }}
    {% if users: %}
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Group</th>
                <th>Created</th>
                <th>Last online</th>
                <th>Last IP</th>
                <th>Time zone</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users: %}
            <tr>
                <td>{{user.id}}</td>
                <td><a href="{{url_for("admin_user", username=user.username)}}">{{user.username}}</a></td>
                <td>{{user.group.capitalize()}}</td>
                <td>{{g.user.localize_time(user.created).strftime("%Y-%m-%d %H:%M:%S")}}</td>
                <td>{{g.user.localize_time(user.last_online).strftime("%Y-%m-%d %H:%M:%S")}}</td>
                <td>{{user.last_ip}}</td>
                <td>{{user.timezone}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else: %}
    <p>No users.</p>
    {% endif %}
    {{ pager() }}
{% endblock %}

