{% extends "base.html" %}
{% block title: %}#{{user.id}} {{user.username}} - {% endblock %}
{% block content: %}
    <h2>#{{user.id}} {{user.username}}</h2>
    <table>
        <tbody>
            <tr>
                <td>Group</td>
                <td><form action="{{url_for("admin_user_set_group", username=user.username)}}" method="post">
                    <input type="hidden" name="token" value="{{g.csrf_token}}">
                    <select name="group"{% if user.group == "admin2" and g.user.group != "admin2": %} disabled{% endif %}>
                        {% for value in User.group.type.enums: %}{% if value != "admin2" or user.group == "admin2" or g.user.group == "admin2": %}
                        <option value="{{value}}"{% if value == user.group %} selected="selected"{% endif %}>{{value.capitalize()}}</option>
                        {% endif %}{% endfor %}
                    </select>
                    <button type="submit"{% if user.group == "admin2" and g.user.group != "admin2": %} disabled{% endif %}>Save</button>
                </form></td>
            </tr>
            <tr>
                <td>Email address</td>
                <td>{{user.email_address}}</td>
            </tr>
            <tr>
                <td>Created</td>
                <td>{{g.user.localize_time(user.created).strftime("%Y-%m-%d %H:%M:%S")}}</td>
            </tr>
            <tr>
                <td>Last online</td>
                <td>{{g.user.localize_time(user.last_online).strftime("%Y-%m-%d %H:%M:%S")}}</td>
            </tr>
            <tr>
                <td>Last IP</td>
                <td>
                {% if not ip_bans: %}
                    {{user.last_ip}}
                    <form action="{{url_for("admin_new_ip_ban")}}" method="post">
                        <input type="hidden" name="token" value="{{g.csrf_token}}">
                        <input type="hidden" name="address" value="{{user.last_ip}}">
                        <input type="hidden" name="reason" value="User #{{user.id}} {{user.username}}">
                        {% if "." in user.last_ip: %}
                        /<input type="number" name="subnet" min="8" max="32" value="32" required>
                        {% else %}
                        /<input type="number" name="subnet" min="8" max="64" value="64" required>
                        {% endif %}
                        <button type="submit">Ban</button>
                    </form>
                {% else %}
                    <del>{{user.last_ip}}</del>
                    {% if ip_bans[0].address != user.last_ip: %}
                        (ban{% if ip_bans|length > 1 %}s{% endif %}: {{ ", ".join(ip_bans) }})
                    {% endif %}
                {% endif %}
                </td>
            </tr>
            <tr>
                <td>Time zone</td>
                <td>{{user.timezone}}</td>
            </tr>
            {% if user.default_character %}
            <tr>
                <td>Default character</td>
                <td><span style="color: #{{user.default_character.color}};">{{user.default_character.name}}</span> [<span style="color: #{{user.default_character.color}};">{{user.default_character.acronym}}</span>]</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <h3>Search info</h3>
    <table>
        <tbody>
            <tr>
                <td>Roulette</td>
                <td>{% if user.roulette_character_id != None: %}Custom character{% else: %}<a href="{{url_for("rp_search_character", id=user.roulette_search_character.id)}}">{{user.roulette_search_character.title}}</a>{% endif %}</td>
            </tr>
            <tr>
                <td>Roleplaying as</td>
                <td><a href="{{url_for("rp_search_character", id=user.search_character.id)}}">{{user.search_character.title}}</a></td>
            </tr>
            <tr>
                <td>With settings</td>
                <td><span style="color: #{{user.color}};">{{user.name}}</span> [<span style="color: #{{user.color}};">{{user.acronym}}</span>]</td>
            </tr>
            <tr>
                <td>Style</td>
                <td>{{user.search_style.capitalize()}}</td>
            </tr>
            <tr>
                <td>Level</td>
                <td>{{user.search_level.upper()}}</td>
            </tr>
            <tr>
                <td>Searching for</td>
                <td>{% if search_characters: %}{{search_characters}}{% else: %}Anyone{% endif %}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

