{% extends "base.html" %}
{% block title: %}Users - {% endblock %}
{% block content: %}
    <h2>Users</h2>

    <nav id="subnav">
        Show:
        {% if not request.args.group: %}
        All
        {% else %}
        <a href="{{url_for("admin_user_list")}}">All</a>
        {% endif %}
        {% for group in User.group.type.enums: %}
        {% if request.args.group == group: %}
        {{ group.capitalize() }}
        {% else %}
        <a href="{{url_for("admin_user_list", group=group)}}">{{ group.capitalize() }}</a>
        {% endif %}
        {% endfor %}
    </nav>


    {{ pager() }}
    {% if users: %}
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Group</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users: %}
            <tr>
                <td>{{user.id}}</td>
                <td><a href="{{url_for("admin_user", username=user.username)}}">{{user.username}}</a></td>
                <td>{{user.group.capitalize()}}</td>
                <td>{{g.user.localize_time(user.created).strftime("%Y-%m-%d %H:%M:%S")}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else: %}
    <p>No users.</p>
    {% endif %}
    {{ pager() }}
{% endblock %}

