{% extends "base.html" %}
{% block title: %}Worker status - {% endblock %}
{% block content: %}
    <h2>Worker status</h2>
    <p>Worker queue length: <strong>{{ worker_queue_length }}</strong></p>
    {% if celery_workers: %}
    <ul>
        {% for worker, tasks in celery_workers.items(): %}
        <li>
            {{ worker }}:
            {% if tasks: %}
            working on {% for task in tasks: %}{{ task["name"] }}{{ "" if loop.last else ", " }}{% endfor %}
            {% else %}
            idle
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else: %}
    <p>No workers.</p>
    {% endif %}
{% endblock %}

