{% extends "base.html" %}
{% block title: %}Character creator - {% endblock %}
{% block content: %}
    <h2>Character creator</h2>
    {% if characters: %}
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Character</th>
                <th>Shortcut</th>
                <th>Default</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for character in characters: %}
            <tr>
                <td>{{character.title}}</td>
                <td><span style="color: #{{character.color}}">{{character.name}}</span>{% if character.acronym != "": %} [<span style="color: #{{character.color}}">{{character.acronym}}</span>]{% endif %}</td>
                <td>{% if character.shortcut: %}/{{character.shortcut}}{% endif %}</td>
                <td>
                    {% if character != g.user.default_character: %}
                    <form action="{{url_for("rp_set_default_character", character_id=character.id)}}" method="post"><input type="hidden" name="token" value="{{g.csrf_token}}"><button type="submit">Set as default</button></form>
                    {% else: %}
                    Default character
                    {% endif %}
                </td>
                <td><a href="{{url_for("rp_character", character_id=character.id)}}">Edit</a></td>
                <td><a href="{{url_for("rp_delete_character_get", character_id=character.id)}}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else: %}
    <p>You don't have any saved characters.</p>
    {% endif %}
    <p><a href="{{url_for("rp_new_character_get")}}">Create a new character</a></p>
{% endblock %}

