<!DOCTYPE html>
<html>
    <head>
        <!-- Apple Icons -->
        <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='img/favicons/root/touch-icon-iphone-precomposed.png')}}" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{url_for('static', filename='img/favicons/root/touch-icon-ipad-precomposed.png')}}">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{url_for('static', filename='img/favicons/root/touch-icon-iphone-retina-precomposed.png')}}">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{url_for('static', filename='img/favicons/root/touch-icon-ipad-retina-precomposed.png')}}">
        
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        
        <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/root/base.css")}}"/>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" defer></script>
        <script src="{{url_for("static", filename="js/root/base.js")}}" defer></script>
        {% block header %}{%endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>

