{% extends "root/base.html" %}

{% block header %}
        <title>Charat – Intuitive Fanservice</title>
        <meta name="description" content="Welcome to Charat, we provide different services for people that enjoy different things. From anime to webcomics to TV shows! Visit this page regularly because we're always adding new things!" />
{% endblock %}

{% block content %}
        <div id="main-block" class="block-container">
            <div class="block" style="margin-top: 47px;">
                <logo class="root"></logo>
                <header>Charat</header>
                <subtitle>Intuitive Fanservice</subtitle>
            </div>
            <div class="description">
                <a href="{{url_for("home")}}"><header>Charat</header></a>
                <p>
                    Welcome to Charat, we provide different services for people that enjoy different things. From anime to webcomics to TV shows! Visit this page regularly because we're always adding new things!
                </p>
            </div>
        </div>
        
        <div class="block-container">
            <div class="block" style="margin-top: 31px;">
                {% if not g.user %}
                <header>Welcome Guest</header>
                <subtitle>What would you like to do?</subtitle>
                <a class="block-button" href="{{url_for("log_in")}}">Log in</a>
                <a class="block-button" href="{{url_for("register")}}">Register</a>
                {% else %}
                <header>Welcome {{g.user.username}}</header>
                <subtitle>What would you like to do?</subtitle>
                <a class="block-button" href="/settings">Settings</a>
                <form action="{{url_for("log_out")}}" method="post"><button type="submit">Log out</button></form>
                {% endif %}
            </div>
        </div>
        
        <div class="block-container">
            <div class="block" style="margin-top: 47px;">
                <logo class="rp"></logo>
                <header>Charat Roleplay</header>
                <subtitle>Character Chat</subtitle>
            </div>
            <div class="description">
                <a href="{{url_for("home")}}"><header>Charat Roleplay</header></a>
                <p>
                    Our first and most popular service! Here, you can chat and roleplay with your friends and connect to different people to roleplay with as well.
                </p>
            </div>
        </div>
        
{% endblock %}



