<h1>Delete request</h1>

<form action="{{url_for("rp_delete_request_post", request_id=search_request.id)}}" method="post">
  <input type="hidden" name="token" value="{{g.csrf_token}}">
  <p>Deleting a request is irreversible and cannot be undone. Are you sure you want to delete this request?</p>
{% if search_request.status == "posted": %}
  <p>If you want to remove the request from public view without deleting it, you can <a href="{{url_for("rp_edit_request_get", request_id=search_request.id)}}">edit the request</a> and select the "Save as draft" option.</p>
{% endif %}
  <p><button type="submit">Delete request</button></p>
</form>
