<!DOCTYPE html>
<html>
    <head>
        <!-- Apple Icons -->
        <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='img/favicons/rp/touch-icon-iphone-precomposed.png')}}" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{url_for('static', filename='img/favicons/rp/touch-icon-ipad-precomposed.png')}}">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{url_for('static', filename='img/favicons/rp/touch-icon-iphone-retina-precomposed.png')}}">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{url_for('static', filename='img/favicons/rp/touch-icon-ipad-retina-precomposed.png')}}">

        <title>Charat RP</title>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{url_for("static", filename="css/charat.css")}}" type="text/css"/>
        <script src="{{url_for("static", filename="js/jquery.min.js")}}"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
        <script src="{{url_for("static", filename="js/rp/bbcode.js")}}"></script>
        <script src="{{url_for("static", filename="js/desktop-notify.js")}}"></script>
        <script src="{{url_for("static", filename="js/rp/quirks.js")}}"></script>
        <script src="{{url_for("static", filename="js/rp/base.js")}}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        {%block header%}{%endblock%}
    </head>

    <body>
        {%block content%}{% endblock %}
    </body>
</html>
