<!DOCTYPE html>
<html>
    <head>
        <title>Charat RP</title>
        <title>{% block title %}{% endblock %}</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        
        <!-- Apple Icons -->
        <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='img/favicons/rp/touch-icon-iphone-precomposed.png')}}" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{url_for('static', filename='img/favicons/rp/touch-icon-ipad-precomposed.png')}}">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{url_for('static', filename='img/favicons/rp/touch-icon-iphone-retina-precomposed.png')}}">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{url_for('static', filename='img/favicons/rp/touch-icon-ipad-retina-precomposed.png')}}">

        <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/rp/charat.css")}}"/>
        <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="colorpicker/css/colorpicker.css")}}" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" defer></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" defer></script>
        <script src="{{url_for("static", filename="js/rp/bbcode.js")}}" defer></script>
        <script src="{{url_for("static", filename="js/rp/quirks.js")}}" defer></script>
        <script src="{{url_for("static", filename="js/rp/base.js")}}" defer></script>
        <script src="{{url_for("static", filename="js/desktop-notify.js")}}" defer></script>
        <script type="text/javascript" src="{{url_for("static", filename="colorpicker/js/colorpicker.js")}}" defer></script>
        {%block header%}{%endblock%}
    </head>

    <body>
        {%block content%}{% endblock %}
    </body>
</html>
