{% extends "rp/base.html" %}

{% block header %}
<link rel="stylesheet" media="screen" type="text/css" href="{{url_for("static", filename="css/rp/home.css")}}" />
<link rel="stylesheet" media="screen" type="text/css" href="{{url_for("static", filename="css/rp/front.css")}}" />
<script src="{{url_for("static", filename="js/rp/characters.js")}}" defer></script>
<script src="{{url_for("static", filename="js/rp/home.js")}}" defer></script>
{% endblock %}

{% block content %}
<div class="body">
<form id="frontform" method="post" action="{{url_for("rp_save_character", character_id=character.id)}}" >
    <!-- Put in some noscript things -->

    <div class="section" id="character-config">
        <div class="titli">{{character.title}}</div>
        <div id="char_left" class="left">
            <div class="card save_as">
                <div class="titi">SAVE AS</div>
                <input type="text" name="title" value="{{character.title}}" maxlength="50">
            </div>
            <div class="card character">
                <div class="titi">CHARACTER DETAILS</div>
                <div class="left">
                    <label>Name:</label><br />
                    <label>Alias:</label><br />
                    <label>Color:</label>
                </div>
                <div class="right">
                    <input id="usingname" type="text" name="name" value="{{character.name}}" maxlength="50" /><br />
                    <input id="ailin" type="text" name="alias" value="{{character.alias}}" maxlength="15" /><br />
                    <input id="coln" type="text" name="color" value="{{character.color}}" maxlength="6" />
                </div>
            </div>
            <div class="card">
                <div class="titi">TYPING PATTERNS</div>
                <div class="left">
                    <label>Prefix: </label><br />
                    <label>Suffix: </label><br />
                    <label>Case: </label>
                </div>
                <div class="right">
                    <input id="prei" type="text" name="quirk_prefix" value="{{character.quirk_prefix}}" /><br />
                    <input id="sufi" type="text" name="quirk_suffix" value="{{character.quirk_suffix}}" /><br />
                    <div class="select-bind"><div class="arrow">▼</div>
                        <select id="casing" name="case">
                            {% for value, name in case_options.items(): %}
                                <option value="{{value}}"{% if value==character.case %} selected="selected"{% endif %}>{{name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="card quote-line" id="color-preview" style="color:#{{character.color}};">
                <span id="alias">{{character.alias}}: </span><span id="quote"></span>
            </div>
            {% if error=="color" %}<span class="error">You entered an invalid hex code. Try using the color picker.</span><br />{% endif %}
        </div>

        <div id="char_center" class="center">
            <div class="card" id="typing-quirks">
                <div class="titi">REPLACEMENTS</div>
                <div class="replacementContainer">
                    <ul id="replacementList">
                        {% if character.replacements|length!=0 %}
                        {% for replacement in character.replacements %}
                            <li><input type="text" name="quirk_from" size="4" value="{{replacement[0]}}"> to <input type="text" name="quirk_to" size="4" value="{{replacement[1]}}"> <a href="#" class="deleteReplacement">x</a></li>
                        {% endfor %}
                        {% else %}
                            <li><input type="text" name="quirk_from" size="4"> to <input type="text" name="quirk_to" size="4"> <a href="#" class="deleteReplacement">x</a></li>
                        {% endif %}
                    </ul>
                    <a href="#" id="addReplacement">+Add another replacement</a>
                    <br />
                    <a href="#" id="clearReplacements">-Clear replacements</a>
                </div>

                <div class="titi">REGEX REPLACEMENTS</div>
                <div class="replacementContainer">
                    <ul id="regexList">
                        {% if character.regexes|length!=0 %}
                            {% for replacement in character.regexes %}
                                <li><input type="text" name="regex_from" size="4" value="{{replacement[0]}}"> to <input type="text" name="regex_to" size="4" value="{{replacement[1]}}"> <a href="#" class="deleteRegex">x</a></li>
                            {% endfor %}
                        {% else %}
                            <li><input type="text" name="regex_from" size="4"> to <input type="text" name="regex_to" size="4"> <a href="#" class="deleteRegex">x</a></li>
                        {% endif %}
                    </ul>
                    <a href="#" id="addRegex">+Add another replacement</a>
                    <br />
                    <a href="#" id="clearRegexes">-Clear replacements</a>
                </div>
            </div>
        </div>

        <div id="char_right" class="right">
            <div class="card" id="tags">
                <div class="titi">TAGS</div>
                <p>Enter some tags for this character, separated by commas:</p>
                <p><label>Character(s) you're playing: <input type="text" name="character" maxlength="500" value="{{tags_character}}"></label></p>
                <p><label>Fandom(s) they belong to: <input type="text" name="fandom" maxlength="500" value="{{tags_fandom}}"></label></p>
                <p><label>Gender(s) they identify as: <input type="text" name="gender" maxlength="500" value="{{tags_gender}}"></label></p>
            </div>
        </div>

        <button class="save_character">Save Settings</button>
    </div>
    
</form>
</div>
{% endblock %}
