{% extends "base.html" %}
{% block title%}Your {% if type == None: %}{% elif type == 'pm' %}PM{% else %}{{type}}{% endif %} chats – {% endblock %}
{% block content %}
    <h2>Your {% if type == None: %}{% elif type == 'pm' %}PM{% else %}{{type}}{% endif %} chats</h2>
    <nav id="subnav">
        Show:
        {% for key in chat_classes|sort: %}
        {% if type == key: %}
        {% if key == 'pm': %}
        PM
        {% elif key == None: %}
        All
        {% else %}
        {{key|capitalize}}
        {% endif %}
        {% else %}
        {% if key == 'pm': %}
        <a href="{{url_for('rp_chat_list', type='pm')}}">PM</a>
        {% elif key == None: %}
        <a href="{{url_for('rp_chat_list')}}">All</a>
        {% else %}
        <a href="{{url_for('rp_chat_list', type=key)}}">{{key|capitalize}}</a>
        {% endif %}
        {% endif %}
        {% endfor %}
    </nav>
    {{ pager() }}
    <ul class="chat_list">
        {% for chat in chats: %}
        <li>
            <h3><a href="{{url_for("rp_chat", url=chat.url)}}">{{chat.title}}</a></h3>
            {% if chat.type == "group": %}
            <p class="subtitle">{{ {"sfw": "SFW", "nsfw": "NSFW", "nsfw-extreme": "NSFW extreme"}[chat.level] }}, {{chat.online}} online.</p>
            {% if chat.topic != "": %}
            <p>{{chat.topic}}</p>
            {% endif %}
            {% else: %}
            <p class="subtitle">{{chat.online}} online.</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {{ pager() }}
{% endblock %}

