{% extends "base.html" %}
{% block title: %}Your {% if type == None: %}{% elif type == 'pm' %}PM{% else %}{{type}}{% endif %} chats - {% endblock %}
{% block content: %}
    <h2>Your {% if type == None: %}{% elif type == 'pm' %}PM{% else %}{{type}}{% endif %} chats</h2>
    <nav id="subnav">
        Show:
        {% for key in chat_classes|sort: %}
        {% if type == key: %}
        {% if key == 'pm': %}
        PM
        {% elif key == None: %}
        All
        {% else %}
        {{key|capitalize}}
        {% endif %}
        {% else %}
        {% if key == 'pm': %}
        <a href="{{url_for('rp_chat_list', type='pm')}}">PM</a>
        {% elif key == None: %}
        <a href="{{url_for('rp_chat_list')}}">All</a>
        {% else %}
        <a href="{{url_for('rp_chat_list', type=key)}}">{{key|capitalize}}</a>
        {% endif %}
        {% endif %}
        {% endfor %}
    </nav>
    {{ pager() }}
    {% if chats: %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Log</th>
                {% if type in (None, "unread"): %}
                <th>Type</th>
                {% endif %}
                {% if type in (None, "group", "unread"): %}
                <th>Style</th>
                <th>Level</th>
                {% endif %}
                <th>Unsubscribe</th>
            </tr>
        </thead>
        <tbody>
            {% for chat in chats: %}
            <tr{% if type != "unread" and chat.unread: %} class="unread"{% endif %}>
                <td><a href="{{url_for("rp_chat", url=chat.url)}}">{{chat.title}}{% if chat.type == "pm" and chat.partner_online: %} (online){% endif %}</a></td>
                <td><a href="{{url_for("rp_log", url=chat.url)}}">View log</a></td>
                {% if type in (None, "unread"): %}
                <td><a href="{{url_for("rp_chat_list", type=chat.type)}}">{{"PM" if chat.type == "pm" else chat.type.capitalize()}}</a></td>
                {% endif %}
                {% if type in (None, "group", "unread"): %}
                <td>{% if chat.type == "group": %}{{chat.style.capitalize()}}{% endif %}</td>
                <td>{% if chat.type == "group": %}{{ {"sfw": "SFW", "nsfw": "NSFW", "nsfw-extreme": "NSFW extreme"}[chat.level] }}{% endif %}</td>
                {% endif %}
                <td><form action="{{url_for("rp_chat_unsubscribe", url=chat.url)}}" method="post"><button type="submit">Unsubscribe</button></form></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else: %}
    <p>No chats.</p>
    {% endif %}
    {{ pager() }}
{% endblock %}

