<h2>Users in {{chat.title}}</h2>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Character</th>
      <th>Group</th>
    </tr>
  </thead>
  <tbody>
{% for user_chat, user in users: %}
    <tr>
      <td>{{user.username}}</td>
      <td><span style="color: #{{user_chat.color}}">{{user_chat.name}}</span>{% if user_chat.acronym != "": %} [<span style="color: #{{user_chat.color}}">{{user_chat.acronym}}</span>]{% endif %}</td>
{% if user.group == "admin": %}
      <td>Adorable Admin</td>
{% elif chat.creator == user: %}
      <td>{{user_chat.group}}</td>
{% else: %}
      <td>{{user_chat.group}}</td>
{% endif %}
    </tr>
{% endfor %}
  </tbody>
</table>
