{% extends "base.html" %}
{% block title: %}Group chats - {% endblock %}
{% block content: %}
    <div id="create_chat">
        <h2>&gt; <label>Create a group chat</label></h2>
        {% if "create_chat_error" in request.args: %}
        {% if request.args["create_chat_error"] == "url_invalid": %}
        <p class="error">That URL isn't valid. Chat URLs can only contain letters, numbers, hyphens and underscores.</p>
        {% elif request.args["create_chat_error"] == "url_taken": %}
        <p class="error">That URL has already been taken.</p>
        {% endif %}
        {% endif %}
        <form action="{{url_for("rp_create_chat")}}" method="post">
            <input type="hidden" name="token" value="{{g.csrf_token}}">
            <p><label>URL: <input type="text" name="url" maxlength="50" required></label> <button type="submit">Create</button></p>
        </form>
    </div>
    <h2>Existing group chats</h2>
    <form action="{{url_for("rp_groups")}}" method="get">
        <p>Style:
			<label><input type="checkbox" name="script"{% if "script" in style_filter: %} checked="checked"{% endif %}> Script</label>
			<label><input type="checkbox" name="paragraph"{% if "paragraph" in style_filter: %} checked="checked"{% endif %}> Paragraph</label>
			<label><input type="checkbox" name="either"{% if "either" in style_filter: %} checked="checked"{% endif %}> Either</label>
		</p>
        <p>Level:
			<label><input type="checkbox" name="sfw"{% if "sfw" in level_filter: %} checked="checked"{% endif %}> SFW</label>
			<label><input type="checkbox" name="nsfw"{% if "nsfw" in level_filter: %} checked="checked"{% endif %}> NSFW</label>
			<label><input type="checkbox" name="nsfw-extreme"{% if "nsfw-extreme" in level_filter: %} checked="checked"{% endif %}> NSFW extreme</label>
		</p>
        <p><button type="submit">Apply</button></p>
    </form>
    <ul id="group_chats">
        {% for chat in groups: %}
        <li>
            <h3>{% if chat.publicity == "pinned": %}<span title="Pinned chat">🔮</span> {% endif %}<a href="{{url_for("rp_chat", url=chat.url)}}">{{chat.title}}</a></h3>
            <p class="subtitle">{{chat.style.capitalize()}} style, {{ {"sfw": "SFW", "nsfw": "NSFW", "nsfw-extreme": "NSFW extreme"}[chat.level] }}, {{chat.online}} online.</p>
            {% if chat.topic != "": %}
            <p>{{chat.topic}}</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock %}

