{% extends "base.html" %}
{% block content: %}
    <form action="{{url_for("rp_search_save")}}" method="post">
        <input type="hidden" name="token" value="{{g.csrf_token}}">
        <h2>Roleplay as <select name="id">
            {% if characters: %}
            <optgroup label="Saved characters">
                {% for character in characters: %}
                <option value="c_{{character.id}}">{{character.title}}</option>
                {% endfor %}
            </optgroup>
            {% endif %}
            {% for group in search_character_groups: %}
            <optgroup label="{{group.name}}">
                {% for character in group.characters: %}
                <option value="s_{{character.id}}"{% if character.id == g.user.search_character_id %} selected="selected"{% endif %}>{{character.title}}</option>
                {% endfor %}
            </optgroup>
            {% endfor %}
        </select></h2>
        <input type="hidden" name="search_character_id" value="{{g.user.search_character_id}}">
        <div class="toggle_box">
            <input type="checkbox" id="toggle_with_settings">
            <h2>&gt; <label for="toggle_with_settings">With settings</label></h2>
            <div class="input_table">
                <p>
                    <label for="name_input">Name:</label>
                    <input type="text" id="name_input" name="name" size="50" maxlength="50" required value="{{g.user.name}}">
                </p>
                <p>
                    <label for="acronym_input">Acronym:</label>
                    <input type="text" id="acronym_input" name="acronym" size="15" maxlength="15" value="{{g.user.acronym}}">
                </p>
                <p>
                    <label for="color_input">Color:</label>
                    <input type="color" id="color_input" name="color" size="7" required value="#{{g.user.color}}"><input type="text" id="color_hex_input" name="color_hex" size="6" maxlength="6" required value="{{g.user.color}}">
                </p>
            </div>
            <p id="text_preview_container" style="color: #{{g.user.color}};">
                <span id="text_preview_acronym">{% if g.user.acronym != "": %}{{g.user.acronym}}: {% endif %}</span><span id="text_preview">{{g.user.search_character.text_preview}}</span>
            </p>
        </div>
        <div class="toggle_box">
            <input type="checkbox" id="toggle_typing_quirks">
            <h2>&gt; <label for="toggle_typing_quirks">Typing quirks</label></h2>
            <div class="input_table">
                <p>
                    <label>Prefix:</label>
                    <input type="text" name="quirk_prefix" size="50" maxlength="100" value="{{g.user.quirk_prefix}}">
                </p>
                <p>
                    <label>Suffix:</label>
                    <input type="text" name="quirk_suffix" size="50" maxlength="100" value="{{g.user.quirk_suffix}}">
                </p>
                <p>
                    <label>Case:</label>
                    <select name="case">
                        {% for value, name in case_options.items()|sort: %}
                        <option value="{{value}}"{% if value == g.user.case %} selected="selected"{% endif %}>{{name}}</option>
                        {% endfor %}
                    </select>
                </p>
            </div>
            <h3>Simple replacements</h3>
            <ul id="replacement_list">
                {% if replacements|length != 0: %}
                {% for replacement in replacements: %}
                <li><input type="text" name="quirk_from" size="10" value="{{replacement[0]}}"> to <input type="text" name="quirk_to" size="10" value="{{replacement[1]}}"> <button type="button" class="delete_replacement">x</button></li>
                {% endfor %}
                {% else %}
                <li><input type="text" name="quirk_from" size="10"> to <input type="text" name="quirk_to" size="10"> <button type="button" class="delete_replacement">x</button></li>
                {% endif %}
            </ul>
            <p><button type="button" id="add_replacement">Add</button> <button type="button" id="clear_replacements">Clear</button></p>
            <h3>Regex replacements (<a href="http://en.wikipedia.org/wiki/Regular_expression">?</a>)</h3>
            <ul id="regex_list">
                {% if regexes|length != 0: %}
                {% for regex in regexes: %}
                <li><input type="text" name="regex_from" size="10" value="{{regex[0]}}"> to <input type="text" name="regex_to" size="10" value="{{regex[1]}}"> <button type="button" class="delete_regex">x</button></li>
                {% endfor %}
                {% else %}
                <li><input type="text" name="regex_from" size="10"> to <input type="text" name="regex_to" size="10"> <button type="button" class="delete_regex">x</button></li>
                {% endif %}
            </ul>
            <p><button type="button" id="add_regex">Add</button> <button type="button" id="clear_regexes">Clear</button></p>
        </div>
        <div class="toggle_box">
            <input type="checkbox" id="toggle_search_for">
            <h2>&gt; <label for="toggle_search_for">Search for</label></h2>
            <div class="input_table">
                <p>
                    <label for="style_select">Script or paragraph?</label>
                    <select name="style" id="style_select">
                        {% for value in User.search_style.type.enums: %}
                        <option value="{{value}}"{% if value == g.user.search_style %} selected="selected"{% endif %}>{{value.capitalize()}}</option>
                        {% endfor %}
                    </select>
                </p>
                <p>
                    <label for="level_select">SFW or NSFW?</label>
                    <select name="level" id="level_select">
                        {% for value in User.search_level.type.enums: %}
                        <option value="{{value}}"{% if value == g.user.search_level %} selected="selected"{% endif %}>{{value.upper()}}</option>
                        {% endfor %}
                    </select>
                </p>
            </div>
            <h3>Filter out names containing...</h3>
            <ul id="filter_list">
                {% if g.user.search_filters|length != 0: %}
                {% for filter in g.user.search_filters: %}
                <li><input type="text" name="search_filter" size="25" maxlength="50" value="{{filter}}"> <button type="button" class="delete_filter">x</button></li>
                {% endfor %}
                {% else %}
                <li><input type="text" name="search_filter" size="25" maxlength="50"> <button type="button" class="delete_filter">x</button></li>
                {% endif %}
            </ul>
            <p><button type="button" id="add_filter">Add</button> <button type="button" id="clear_filters">Clear</button></p>
            <div class="toggle_box">
                <input type="checkbox" id="toggle_search_for_characters" name="use_picky"{% if picky: %} checked="checked"{% endif %}>
                <h3>&gt; <label for="toggle_search_for_characters">Look for specific characters</label></h3>
                {% for group in search_character_groups: %}
                <fieldset class="character_list">
                    <div class="toggle_box">
                <input type="checkbox" id="toggle_search_for_groups" name="use_picky"{% if picky: %} checked="checked"{% endif %}>
                <h3>&gt; <label for="toggle_search_for_groups"><legend><label><input type="checkbox" name="group_{{group.id}}"> {{group.name}}</label></legend></label></h3>
                    <ul>
                        {% for character in group.characters: %}
                        <li><label>
                            <input type="checkbox" name="picky_{{character.id}}"{% if character.id in picky: %} checked="checked"{% endif %}>
                            <span class="character_name">{{character.title}}</span>
                        </label></li>
                        {% endfor %}
                    </ul>
                </div>
                </div>
                </fieldset>
                {% endfor %}
            </div>
        </div>
        <button type="submit">==&gt; Enter</button>
    </form>
{% endblock %}
{% block scripts: %}
<script>msparp.home();</script>
{% endblock %}
