{% extends "base.html" %}
{% import "account/forms.html" as forms %}
{% block content: %}
    <section>
        <h2>Welcome to MSPARP!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi facilisis lorem sit amet cursus mollis. Duis sit amet lorem ipsum. Nulla fringilla nisi ut lacus tincidunt tempus. Duis eget aliquet risus. Suspendisse odio nisi, gravida a dignissim id, vulputate et libero. Praesent non lorem sed nulla placerat interdum. Donec a elit commodo, pretium dolor et, feugiat velit.</p>
    </section>
    <section>
        {{forms.register()}}
        {{forms.log_in()}}
    </section>
{% endblock %}
