{% extends "rp/base.html" %}

{% block header %}
        <link rel="stylesheet" media="screen" type="text/css" href="{{url_for("static", filename="css/rp/home.css")}}" />
        <link rel="stylesheet" media="screen" type="text/css" href="{{url_for("static", filename="css/rp/front.css")}}" />
{% endblock %}

{% block content %}
        <div class="body">
            <!-- Put in some noscript things -->
            <div id="chat-options" class="section">
                <div class="titli">CHAT</div>
                <div id="choices" class="card">
                    <p>Welcome to Charat RP. Here you can search for people to roleplay with. Whether it be group chats, a random person or a person with a prompt, I hope that you will enjoy your stay here!</p>
                    <p style="color:#d00">{{create_chat_error}}</p>
                    <center>
                        <a class="button" href="">Guide</a>
                        <a class="button" href="{{url_for('rp_chat_list')}}">Chats</a>
                        <a class="button" href="{{url_for('rp_character_list')}}">Characters</a>
                        {% if g.user != None: %}
                        <a class="button" href="">Settings</a>
                        <a class="button" href="{{url_for('log_out')}}">Log out</a>
                        {% else %}
                        <a class="button" href="{{url_for('log_in')}}">Log in</a>
                        <a class="button" href="{{url_for('register')}}">Register</a>
                        {% endif %}
                        <a class="button" href="">Chat</a>
                    </center>
                </div>
            </div>

            {% if not g.user %}
            <div id="log_in-register" class="section">
                <div class="titli">LOG IN/REGISTER</div>
                <div id="register" class="card">
                    {% if "register_error" in request.args: %}
				    {% if request.args["register_error"] == "blank": %}
                    <span class="error">Please enter a username and password.</span>
				    {% elif request.args["register_error"] == "passwords_didnt_match": %}
                    <span class="error">The two passwords didn't match.</span>
				    {% elif request.args["register_error"] == "invalid_username": %}
                    <span class="error">Usernames can only contain letters, numbers, hyphens and underscores.</span>
				    {% elif request.args["register_error"] == "username_taken": %}
                    <span class="error">That username has already been taken.</span>
				    {% endif %}
                    {% endif %}
                    <form action="{{url_for('register')}}" method="post">
                        <div class="left">
                            <label>Username: </label><br />
                            <label>Password: </label><br />
                            <label>Confim: </label>
                        </div>
                        <div class="right">
                            <input id="regUsername" type="text" name="username"><br />
                            <input id="regPassword" type="password" name="password"><br />
                            <input id="regConfirm" type="password" name="password_again">
                        </div>
                        <button type="submit">Register</button>
                    </form>
                </div>
                
                <div id="log_in" class="card">
                    {% if "log_in_error" in request.args: %}
				    {% if request.args["log_in_error"] == "no_user": %}
                    <span class="error">There doesn't seem to be an account with that username.</span>
				    {% elif request.args["log_in_error"] == "wrong_password": %}
                    <span class="error">That password is incorrect.</span>
				    {% endif %}
                    {% endif %}
                    <form action="{{url_for('log_in')}}" method="post">
                        <div class="left">
                            <label>Username: </label><br />
                            <label>Password: </label>
                        </div>
                        <div class="right">
                            <input id="logUsername" type="text" name="username"><br />
                            <input id="logPassword" type="password" name="password">
                        </div>
                        <button type="submit">Log in</button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
{% endblock %}
