{% extends "rp/base.html" %}

{% block header %}
<link rel="stylesheet" media="screen" type="text/css" href="{{url_for("static", filename="css/home.css")}}" />
<link rel="stylesheet" media="screen" type="text/css" href="{{url_for("static", filename="css/front.css")}}" />
<link rel="stylesheet" media="screen" type="text/css" href="{{url_for("static", filename="colorpicker/css/colorpicker.css")}}" />
<script type="text/javascript" src="{{url_for("static", filename="colorpicker/js/colorpicker.js")}}"></script>
<script src="{{url_for("static", filename="js/characters.js")}}"></script>
<script src="{{url_for("static", filename="js/home.js")}}"></script>
{% endblock %}

{% block content %}

<div id="topbar">
	<center>
	    <a id="toptitle" href="/">Charat</a>
        <div id="topmenu">
            <div class="topborder"></div>
            <a id="goUser" href="/user/{{g.user.username}}">Hello {{g.user.username}}!</a>
            <div class="topborder"></div>
            <a id="goPresets" href="#">Presets</a>
            <div class="topborder"></div>
            <a id="goGroups" href="/groups">Groups</a>
            <div class="topborder"></div>
            <a id="goHelp" href="/help">Help</a>
            <div class="topborder"></div>
            <a id="logout" href="{{url_for("logout")}}">Log Out</a>
        </div>
    </center>
</div>

<div class="body">
<form id="frontform" method="post" action="" >
    <!-- Put in some noscript things -->

    <div class="section" id="character-config">
        <div class="titli">CHARACTER SETTINGS</div>
        <div id="char_left" class="left">
            <div class="card char_search">
                <div class="titi">CHARACTER SEARCH</div>
                <input id="char_search" type="text" />
                <button class="char_search_button">Search</button>
            </div>
            <div class="card character">
                <div class="titi">CHARACTER DETAILS</div>
                <div class="left">
                    <label>Name:</label><br />
                    <label>Alias:</label><br />
                    <label>Color:</label>
                </div>
                <div class="right">
                    <input id="usingname" type="text" name="name" value="anonymous" maxlength="50" /><br />
                    <input id="ailin" type="text" name="acronym" value="??" maxlength="15" /><br />
                    <input id="coln" type="text" name="color" value="000000" maxlength="6" />
                </div>
            </div>
            
            <div class="card pester-line" id="color-preview" style="color:#000000;">
                <span id="acronym">??: </span><span id="quote"></span>
            </div>
            {% if error=="color" %}<span class="error">You entered an invalid hex code. Try using the color picker.</span><br />{% endif %}
            <span id="inzone"><button class="save_character">Save Settings</button></span>
        </div>

        <div id="char_center" class="center">
            <div class="card" id="typing-quirks">
                <div class="titi">TYPING PATTERNS</div>
                <div class="left">
                    <label>Prefix: </label><br />
                    <label>Suffix: </label><br />
                    <label>Case: </label>
                </div>
                <div class="right">
                    <input id="prei" type="text" name="quirk_prefix" value="" /><br />
                    <input id="sufi" type="text" name="quirk_suffix" value="" /><br />
                    <div class="select-bind"><div class="arrow">▼</div>
                        <select id="casing" name="case">
                            <!-- CASE OPTIONS -->
                            <option value="Case">Case</option>
                        </select>
                    </div>
                </div>
                <!-- CASE ERROR -->

                <div class="titi">REPLACEMENTS</div>
                <div class="replacementContainer">
                    <ul id="replacementList">
                        <!-- REPLACEMENTS -->
                        <li><input type="text" name="quirk_from" size="4" value=""> to <input type="text" name="quirk_to" size="4" value=""> <a href="#" class="deleteReplacement">x</a></li>
                    </ul>
                    <a href="#" id="addReplacement">+Add another replacement</a>
                    <br />
                    <a href="#" id="clearReplacements">-Clear replacements</a>
                </div>
            </div>
            <span id="inztwo"><button class="save_character">Save Settings</button><button class="save_preset">Save Character Preset</button></span>
        </div>
    </div>
    
</form>
</div>
{% endblock %}
