{% extends "rp/base.html" %}

{% block header %}
<link rel="stylesheet" media="screen" type="text/css" href="{{url_for("static", filename="css/rp/home.css")}}" />
<link rel="stylesheet" media="screen" type="text/css" href="{{url_for("static", filename="css/rp/front.css")}}" />
<script src="{{url_for("static", filename="js/rp/characters.js")}}" defer></script>
<script src="{{url_for("static", filename="js/rp/home.js")}}" defer></script>
{% endblock %}

{% block content %}

<div id="topbar">
	<center>
	    <a id="toptitle" href="/">Charat RP</a>
        <div id="topmenu">
            <div class="topborder"></div>
            <a id="goPresets" href="#">Presets</a>
            <div class="topborder"></div>
            <a id="goGroups" href="/groups">Groups</a>
            <div class="topborder"></div>
            <a id="goHelp" href="/help">Help</a>
        </div>
    </center>
</div>

<div class="body">
        <!-- Put in some noscript things -->
        <div class="section" id="character-config">
            <form id="frontform" method="post" action="">
            <div class="titli">CHARACTER SETTINGS</div>
            <div id="char_left" class="left">
                <div class="card character">
                    <div class="titi">CHARACTER DETAILS</div>
                    <div class="left">
                        <label>Name:</label><br />
                        <label>Alias:</label><br />
                        <label>Color:</label>
                    </div>
                    <div class="right">
                        <input id="usingname" type="text" name="name" value="anonymous" maxlength="50" /><br />
                        <input id="ailin" type="text" name="acronym" value="??" maxlength="15" /><br />
                        <input id="coln" type="text" name="color" value="000000" maxlength="6" />
                    </div>
                </div>
    
                <div class="card pester-line" id="color-preview" style="color:000000;">
                    <span id="acronym">??: </span><span id="quote"></span>
                </div>
                {% if error=="color" %}<span class="error">You entered an invalid hex code. Try using the color picker.</span><br />{% endif %}
                <span id="inzone"><button class="save_character">Save Settings</button></span>
            </div>
            </form>
        </div>

        <div id="login-register" class="section">
            <div class="titli">LOGIN/REGISTER</div>
            <div id="register" class="card">
                {% if register_error: %}
                <p class="error">{{register_error}}</p>
                {% endif %}
                <form action="{{url_for("register")}}" method="post">
                    <div class="left">
                        <label>Username: </label><br />
                        <label>Password: </label><br />
                        <label>Confimation: </label>
                    </div>
                    <div class="right">
                        <input id="regUsername" type="text" name="username"><br />
                        <input id="regPassword" type="password" name="password"><br />
                        <input id="regConfirm" type="password" name="password_again">
                    </div>
                    <button type="submit">Register</button>
                </form>
            </div>
            
            <div id="login" class="card">
                {% if log_in_error: %}
                <p class="error">{{log_in_error}}</p>
                {% endif %}
                <form action="{{url_for("login_post")}}" method="post">
                    <div class="left">
                        <label>Username: </label><br />
                        <label>Password: </label>
                    </div>
                    <div class="right">
                        <input id="logUsername" type="text" name="username"><br />
                        <input id="logPassword" type="password" name="password">
                    </div>
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
