<h2>Create a chat</h2>
{% if create_chat_error: %}
<p class="error">{{create_chat_error}}</p>
{% endif %}
<form action="{{url_for("create_chat")}}" method="post">
  <p><input type="text" name="url" maxlength="50"><button type="submit">Create Room</button></p>
</form>
<h2>Listed rooms</h2>
<ul>
{% for room, users_online in rooms: %}
  <li>
    <h3><a href="{{url_for("chat", url=room.url)}}">{{room.url}}</a> ({{users_online}} online)</h3>
    <p>{{room.topic}}</p>
  </li>
{% endfor %}
</ul>
{{rooms}}
