{% extends "base.html" %}
{% block title: %}Search character creator - {% endblock %}
{% block content: %}
    {% for fandom in fandoms: %}
    <div class="common_box">
        <h2><label><span>{{fandom.name}}</span></label></h2>
        <div class="common_box_wrap">
            {% for group in fandom.groups: %}
            <h3>{{group.name}}</h3>
            <table class="chartable">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Character</th>
                        <th><span class="t_edit"><span>Edit</span></span></th>
                        <th><span class="t_delete"><span>Delete<span></span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for character in group.characters: %}
                    <tr>
                        <td>{{character.title}}</td>
                        <td><span style="color: #{{character.color}}">{{character.name}}</span>{% if character.acronym != "": %} [<span style="color: #{{character.color}}">{{character.acronym}}</span>]{% endif %}</td>
                        <td><a href="{{url_for("rp_search_character", id=character.id)}}"><span class="t_edit"><span>Edit<span></span></a></td>
                        <td>{% if character.id != 1: %}<a href="{{url_for("rp_delete_search_character_get", id=character.id)}}"><span class="t_delete"><span>Delete<span></span></a>{% endif %}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td><input form="group_{{group.id}}_quick_create" name="title" required="" maxlength="100" type="text" placeholder="Title"></td>
                        <td>
                            <input form="group_{{group.id}}_quick_create" name="name" required="" maxlength="100" type="text" placeholder="Name">
                            [<input form="group_{{group.id}}_quick_create" name="acronym" required="" maxlength="15" type="text" placeholder="??" size="5">]
                        </td>
                        <td colspan="2"><button form="group_{{group.id}}_quick_create" type="submit">Quick create</button></td>
                    </tr>
                </tbody>
            </table>
            <form id="group_{{group.id}}_quick_create" action="{{url_for("rp_new_search_character_post")}}" method="post">
                <input type="hidden" name="token" value="{{g.csrf_token}}">
                <input type="hidden" name="group_id" value="{{group.id}}">
            </form>
            <p><a href="{{url_for("rp_new_search_character_get", group_id=group.id)}}">New character in {{group.name}}</a></p>
            {% endfor %}
            <h3>New group</h3>
            <form action="{{url_for("rp_new_search_character_group_post")}}" method="post">
                <input type="hidden" name="token" value="{{g.csrf_token}}">
                <input type="hidden" name="fandom_id" value="{{fandom.id}}">
                <div class="input newgroup_box"><p><input type="text" name="name" required maxlength="100"> <button type="submit">Create</button></p></div>
            </form>
        </div>
    </div>
    {% endfor %}
    <div class="common_box">
        <h2><label><span>New fandom</span></label></h2>
        <div class="common_box_wrap">
            <form action="{{url_for("rp_new_fandom_post")}}" method="post">
                <input type="hidden" name="token" value="{{g.csrf_token}}">
                <div class="input newgroup_box"><p><input type="text" name="name" required maxlength="100"> <button type="submit">Create</button></p></div>
            </form>
        </div>
    </div>
{% endblock %}

