{% extends "base.html" %}
{% block title: %}IP bans - {% endblock %}
{% block content: %}
    <div class="common_box">
        <h2><label><span>IP bans</span></label></h2>
        <div class="common_box_wrap">

            <div class="toggle_box ban_box">
                <input type="checkbox" id="toggle_new_ip_ban"{% if "ip_ban_error" in request.args: %} checked="checked"{% endif %}>
                <h2><label for="toggle_new_ip_ban"><span>Ban an IP address</span></label></h2>
                <form action="{{url_for("admin_new_ip_ban")}}" method="post">
                    <input type="hidden" name="token" value="{{ g.csrf_token }}">
                    {% if request.args.ip_ban_error == "already_banned" %}
                    <p class="error">That IP address/range is already banned.</p>
                    {% endif %}
                    <div class="input"><p><input type="text" id="ban_address"name="address" maxlength="42" required><label for="ban_address">Address</label></p></div>
                    <div class="input"><p><input type="text" id="ban_reason" name="reason" maxlength="255" required><label for="ban_reason">Reason</label></p></div>
                    <button type="submit">Ban</button></label></p>
                </form>
            </div>

            <form action="{{url_for("admin_ip_bans")}}" method="get">
                <div class="input"><p><input type="text" id="search_address" name="address" {% if request.args.address %}value="{{ request.args.address }}"{% endif %}><label for="search_address">IP address</label></p></div>
                <p><button type="submit">Search</button></p>
            </form>

            {% if ip_bans: %}
            {{ pager() }}
            <table class="ban_table">
                <thead>
                    <tr>
                        <th>Address/range</th>
                        <th>Banned by</th>
                        <th>Date</th>
                        <th>Reason</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ip_ban in ip_bans: %}
                    <tr>
                        <td>{{ip_ban.address}}</td>
                        <td><a href="{{url_for("admin_user", username=ip_ban.creator.username)}}">{{ip_ban.creator.username}}</a></td>
                        <td>{{g.user.localize_time(ip_ban.date).strftime("%Y-%m-%d %H:%M:%S")}}</td>
                        <td>{{ip_ban.reason}}</td>
                        <td><form action="{{url_for("admin_delete_ip_ban")}}" method="post">
                            <input type="hidden" name="token" value="{{g.csrf_token}}">
                            <input type="hidden" name="address" value="{{ip_ban.address}}">
                            <button type="submit">Delete</button>
                        </form></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {{ pager() }}
            {% else: %}
            <p>No IP bans. Thank god.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}

