{% extends "base.html" %}
{% block title: %}Permissions - {% endblock %}
{% block content: %}
    <div class="common_box admin_wide">
        <h2><label><span>Permissions</span></label></h2>
        <div class="common_box_wrap">
            <table id="permissions_table">
                <thead>
                    <tr>
                        <th>Tier</th>
                        {% for permission in AdminTierPermission.permission.type.enums: %}
                        <th>{{permission.replace("_", " ").capitalize()}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for admin_tier in admin_tiers: %}
                    <tr>
                        <td><a href="{{url_for("admin_admin_tier_get", admin_tier_id=admin_tier.id)}}">{{admin_tier.name}}</a></td>
                        {% for permission in AdminTierPermission.permission.type.enums: %}
                        <td>{{"✓" if permission in admin_tier.permissions else ""}} <span class='full_permission_name'>{{ permission.replace("_", " ").capitalize() if permission in admin_tier.permissions else ""}}</span></td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h3>New admin tier</h3>
            <form action="{{url_for("admin_new_admin_tier")}}" method="post">
                <input type="hidden" name="token" value="{{g.csrf_token}}">
                <div class="input tags_box"><input type="text" name="name" maxlength="50" required></div> <button type="submit">Create</button>
            </form>
        </div>
    </div>
{% endblock %}

