{% extends "base.html" %}
{% block title: %}#{{user.id}} {{user.username}} - {% endblock %}
{% block content: %}
    <div class="common_box reset_password_confirm">
        <h2><label><span>Reset password</span></label></h2>
        <div class="common_box_wrap">
            <form action="{{url_for("admin_user_reset_password", username=user.username)}}" method="post">
                <input type="hidden" name="token" value="{{g.csrf_token}}">
                <p>Are you sure you want to reset {{user.username}}'s password?</p>
                <p><button type="submit">Yes</button> <a href="{{url_for("admin_user", username=user.username)}}">No</a></p>
            </form>
        </div>
    </div>
{% endblock %}

