{% extends "base.html" %}
{% block title: %}#{{user.id}} {{user.username}} - {% endblock %}
{% block content: %}
    <div class="common_box">
        <h2><label class="user_edit_box_header"><span>#{{user.id}} <a href="{{url_for("admin_user_list", username=user.username)}}">{{user.username}}</a></span></label></h2>
        <div class="common_box_wrap">
            <table class="admin_user_info">
                <tbody>
                    <tr>
                        <td>Group</td>
                        <td><form action="{{url_for("admin_user_set_group", username=user.username)}}" method="post">
                            <input type="hidden" name="token" value="{{g.csrf_token}}">
                            <div class="input select"><select name="group"{% if user.is_admin and not g.user.has_permission("permissions"): %} disabled{% endif %}>
                                {% for value in User.group.type.enums: %}
                                <option value="{{value}}"{% if user.group == value %} selected="selected"{% endif %}>{{value.capitalize()}}</option>
                                {% endfor %}
                            </select></div>
                            <button type="submit"{% if user.is_admin and not g.user.has_permission("permissions"): %} disabled{% endif %}>Save</button>
                        </form></td>
                    </tr>
                    {% if user.group == "active": %}
                    <tr>
                        <td>Admin tier</td>
                        {% if g.user.has_permission("permissions"): %}
                        <td><form action="{{url_for("admin_user_set_admin_tier", username=user.username)}}" method="post">
                            <input type="hidden" name="token" value="{{g.csrf_token}}">
                            <div class="input select"><select name="admin_tier">
                                <option value=""{% if user.admin_tier ==  None %} selected="selected"{% endif %}>None</option>
                                {% for admin_tier in admin_tiers: %}
                                <option value="{{admin_tier.id}}"{% if user.admin_tier == admin_tier %} selected="selected"{% endif %}>{{admin_tier.name}}</option>
                                {% endfor %}
                            </select></div>
                            <button type="submit">Save</button>
                        </form></td>
                        {% elif user.is_admin: %}
                        <td>{{user.admin_tier.name}}</td>
                        {% else: %}
                        <td>None</td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% if g.user.has_permission("reset_password"): %}
                    <tr>
                        <td>Password</td>
                        <td><a href="{{url_for("admin_user_reset_password", username=user.username)}}">Reset password</a></td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>Email address</td>
                        <td> <a href="{{url_for("admin_user_list", email=user.email_address)}}">{{user.email_address}}</a></td>
                    </tr>
                    <tr>
                        <td>Created</td>
                        <td>{{g.user.localize_time(user.created).strftime("%Y-%m-%d %H:%M:%S")}}</td>
                    </tr>
                    <tr>
                        <td>Last online</td>
                        <td>{{g.user.localize_time(user.last_online).strftime("%Y-%m-%d %H:%M:%S")}}</td>
                    </tr>
                    <tr>
                        <td>Last IP</td>
                        <td>
                        {% if not ip_bans: %}
                            <a href="{{url_for("admin_user_list", ip=user.last_ip)}}">{{user.last_ip}}</a>
                            <form action="{{url_for("admin_new_ip_ban")}}" method="post">
                                <input type="hidden" name="token" value="{{g.csrf_token}}">
                                <input type="hidden" name="address" value="{{user.last_ip}}">
                                <input type="hidden" name="reason" value="User #{{user.id}} {{user.username}}">
                                {% if "." in user.last_ip: %}
                                /<div class="input tags_box"><input type="number" name="subnet" min="8" max="32" value="32" required></div>
                                {% else %}
                                /<div class="input tags_box"><input type="number" name="subnet" min="8" max="64" value="64" required></div>
                                {% endif %}
                                <button type="submit">Ban</button>
                            </form>
                        {% else %}
                            <del><a href="{{url_for("admin_user_list", ip=user.last_ip)}}">{{user.last_ip}}</a></del>
                            {% if ip_bans[0].address != user.last_ip: %}
                                (ban{% if ip_bans|length > 1 %}s{% endif %}: {{ ", ".join(ip_bans) }})
                            {% endif %}
                        {% endif %}
                        (<a href="http://forums.msparp.com/modcp.php?action=ipsearch&ipaddress={{user.last_ip}}&search_users=1&search_posts=1" target="_blank">F</a>)
                        </td>
                    </tr>
                    <tr>
                        <td>Time zone</td>
                        <td>{{user.timezone}}</td>
                    </tr>
                    {% if user.default_character %}
                    <tr>
                        <td>Default character</td>
                        <td><span style="color: #{{user.default_character.color}};">{{user.default_character.name}}</span> [<span style="color: #{{user.default_character.color}};">{{user.default_character.acronym}}</span>]</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            <h3>Search info</h3>
            <table class="admin_user_info">
                <tbody>
                    <tr>
                        <td>Roulette</td>
                        <td>{% if user.roulette_character_id != None: %}Custom character{% else: %}<a href="{{url_for("rp_search_character", id=user.roulette_search_character.id)}}">{{user.roulette_search_character.title}}</a>{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Roleplaying as</td>
                        <td><a href="{{url_for("rp_search_character", id=user.search_character.id)}}">{{user.search_character.title}}</a></td>
                    </tr>
                    <tr>
                        <td>With settings</td>
                        <td><span style="color: #{{user.color}};">{{user.name}}</span> [<span style="color: #{{user.color}};">{{user.acronym}}</span>]</td>
                    </tr>
                    <tr>
                        <td>Style</td>
                        <td>{{user.search_style.capitalize()}}</td>
                    </tr>
                    <tr>
                        <td>Levels</td>
                        <td>{{", ".join(user.search_levels)}}</td>
                    </tr>
                    <tr>
                        <td>Searching for</td>
                        <td>{% if search_characters: %}{{search_characters}}{% else: %}Anyone{% endif %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="common_box">
        <h2><label class="user_edit_box_header"><span>Notes</span></label></h2>
        <div class="common_box_wrap">
            <form action="{{url_for("admin_user_notes_post", username=user.username)}}" method="post">
                <input type="hidden" name="token" value="{{g.csrf_token}}">
                <div class="input nolabel_text"><p>
                    <textarea name="text" rows="3" required></textarea>
                </p></div>
                <p><button type="submit">Save</button></p>
            </form>
            <ul id="group_chats">
                {% for note in notes: %}
                <li>
                    <p class="subtitle">
                        {{g.user.localize_time(note.created).strftime("%Y-%m-%d %H:%M:%S")}},
                        by <a href="{{url_for("admin_user", username=note.creator.username)}}">{{note.creator.username}}</a>
                    </p>
                    <p class="user_note chat_info">{{note.text}}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

