<!DOCTYPE html>
<html>
<head>
<title>MSPARP</title>
</head>
<body style="margin: 0; padding: 1px; background-color: #535353; font-family: sans-serif; line-height: 1.5em;">

<div style="background-color: #ccc;">
  <h1 style="margin: 0; padding: 10px;">
    <a style="display: block; max-width: 365px; margin: 0 auto;" href="{{url_for("home", _external=True, _scheme="https")}}">
      <img style="display: block; max-width: 100%; margin: 0 auto;" src="{{url_for("home", _external=True, _scheme="https")}}static/img/logo-default.png" alt="MSPARP">
    </a>
  </h1>
</div>

<div style="margin: 50px;">
{% block content: %}{% endblock %}
</div>

</body>
</html>

