{% extends "base.html" %}
{% block title: %}Users in {{chat.title}} - {% endblock %}
{% block content: %}
<h2>Users in {{chat.title}}</h2>
{{ pager() }}
<table>
    <thead>
        <tr>
            {% if g.user.group == "admin": %}
            <th>Username</th>
            {% endif %}
            <th>#</th>
            <th>Character</th>
            <th>Group</th>
        </tr>
    </thead>
    <tbody>
        {% for chat_user in users: %}
        <tr>
            {% if g.user.group == "admin": %}
            <td><a href="{{url_for("admin_user", username=chat_user.user.username)}}">{{chat_user.user.username}}</a></td>
            {% endif %}
            <td>{{chat_user.number}}</td>
            <td><span style="color: #{{chat_user.color}}">{{chat_user.name}}</span>{% if chat_user.alias != "": %} [<span style="color: #{{chat_user.color}}">{{chat_user.alias}}</span>]{% endif %}</td>
            {% if chat_user.ban == None: %}
            <td>{{{"admin": "God tier moderator", "creator": "Chat creator", "mod": "Professional Wet Blanket", "mod2": "Bum's Rusher", "mod3": "Amateur Wet Blanket", "user": "User", "silent": "Silenced"}[chat_user.computed_group]}}</td>
            {% else: %}
            <td>
                Banned {{chat_user.ban.created.strftime("%d %b %Y")}} by <span style="color: #{{chat_user.ban.creator_chat_user.color}}">{{chat_user.ban.creator_chat_user.name}}</span>{% if chat_user.ban.creator_chat_user.alias != "": %} [<span style="color: #{{chat_user.color}}">{{chat_user.ban.creator_chat_user.alias}}</span>]{% endif %} (user number {{chat_user.ban.creator_chat_user.number}}).{% if chat_user.ban.reason: %} Reason: {{chat_user.ban.reason}}{% endif %}
                {% if own_chat_user != None and own_chat_user.can("ban"): %}
                <form action="{{url_for("rp_chat_unban", url=chat.url)}}" method="post"><input type="hidden" name="number" value="{{chat_user.number}}"><button type="submit">Unban</button></form>
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ pager() }}
{% endblock %}

