{% extends "rp/chat/base.html" %}
{% block content: %}

{% if chat.type == "group": %}
<section id="topbar">
    <h1>{{chat.title}}</h1>
    <span class="topic">{{chat.topic}}</span>
</section>

<section id="info_panel">
    <button type="button" class="close">Close</button>
    <h2>{{chat.title}}</h2>
    <p class="topic">{{chat.topic}}</p>
    <p id="info_panel_controls"><button class="set_topic_button">Set topic</button> <button id="edit_info_button">Edit info</button></p>
    <h2>Description</h2>
    <p id="description">{{chat.description}}</p>
    <h2>Rules</h2>
    <p id="rules">{{chat.rules}}</p>
</section>

<section id="edit_info_panel">
    <button type="button" class="close">Close</button>
    <form id="edit_info_form">
        <h2>Description</h2>
        <p class="textarea_wrapper"><textarea id="edit_info_description" name="description" rows="10" maxlength="5000"></textarea></p>
        <h2>Rules</h2>
        <p class="textarea_wrapper"><textarea  id="edit_info_rules"name="rules" rows="10" maxlength="5000"></textarea></p>
        <p><button type="submit">Save</button></p>
    </form>
</section>
{% elif chat.type == "pm": %}
<section id="pm_chat_list">
    <h2>PM chats</h2>
    <ul>
{% for pm_chat in pm_chats: %}
        <li><a href="{{url_for("rp_chat", url="pm/" + pm_chat[2].user.username.lower())}}"{% if pm_chat[1].id == chat.id: %} class="active"{% endif %}>{{pm_chat[2].user.username}}</a></li>
{% endfor %}
    </ul>
</section>
{% endif %}

<script id="user_list_template" type="text/x-handlebars-template">{% raw %}
{{#each users}}
    <li style="color: #{{character.color}};" id="unum_{{meta.number}}" class="group_{{meta.group}}" title="{{{group_description meta.group}}}">{{character.name}}{{#if (is_you)}} (you){{/if}}</li>
{{/each}}
{% endraw %}</script>
<script id="action_list_template" type="text/x-handlebars-template">{% raw %}
    <ul>
        <li id="action_highlight">{{#if (is_highlighted)}}Clear highlight{{else}}Highlight{{/if}}</li>
        <li id="action_ignore">{{#if (is_ignored)}}Clear ignore{{else}}Ignore{{/if}}</li>
        {{#if (is_you)}}<li id="action_switch_character">Switch character</li>{{/if}}
        {{#if (is_you)}}<li id="action_settings">Settings</li>{{/if}}
        {{#if (can_set_group "mod")}}<li id="action_mod">Make Professional Wet Blanket</li>{{/if}}
        {{#if (can_set_group "mod2")}}<li id="action_mod2">Make Bum's Rusher</li>{{/if}}
        {{#if (can_set_group "mod3")}}<li id="action_mod3">Make Amateur Gavel-Slinger</li>{{/if}}
        {{#if (can_set_group "user")}}<li id="action_user">{{{set_user_text}}}</li>{{/if}}
        {{#if (can_set_group "silent")}}<li id="action_silent">Silence</li>{{/if}}
        {{#if (can_perform_action "kick")}}<li id="action_kick">Kick</li>{{/if}}
        {{#if (can_perform_action "ban")}}<li id="action_ban">Ban</li>{{/if}}
        {{#if (admin)}}<li id="action_look_up_user">Look up user</li>{{/if}}
        <li id="action_close">Close</li>
    </ul>
{% endraw %}</script>

<section class="sidebar" id="user_list_container">
    <button type="button" class="close">Close</button>
    <p>Connetion method: <span id="messages_method"></span>.</p>
    {% if chat.type == "group": %}
    <p>&gt; <a href="#" id="info_panel_link">Description and rules</a></p>
    <section class="toggle_box" id="mod_tools">
        <input type="checkbox" id="mod_tools_toggle">
        <h3>&gt; <label for="mod_tools_toggle">Mod tools</label></h3>
        <p><button class="set_topic_button">Set topic</button></p>
        <p><label><input type="checkbox" id="flag_autosilence"> Auto-silence new users</label></p>
        <p><label>Publicity: <select id="flag_publicity">
            <option value="private">Private</option>
            <option value="unlisted">Unlisted</option>
            <option value="listed">Listed</option>
            {% if g.user.group == "admin": %}
            <option value="pinned">Pinned</option>
            <option value="admin_only">Admin only</option>
            {% endif %}
        </select></p>
        <p><label><select id="flag_style">
            <option value="script">Script</option>
            <option value="paragraph">Paragraph</option>
            <option value="either">Either</option>
        </select> style</label></p>
        <p><label>This chat is <select id="flag_level">
            <option value="sfw">SFW</option>
            <option value="nsfw">NSFW</option>
            <option value="nsfw-extreme">NSFW extreme</option>
        </select></label></p>
    </section>
    <section id="flag_messages">
        <p id="flag_message_autosilence">New users are auto-silenced.</p>
        <p id="flag_message_publicity">This chat is listed on the public chats list.</p>
        <p id="flag_message_style">Please use script stype.</p>
        <p>This chat is <span id="flag_message_level">SFW</span>.</p>
    </section>
    {% endif %}
    <section id="action_list"></section>
    <h2>Users</h2>
    <ul id="user_list"></ul>
    {% if chat.type == "group": %}
    <p>&gt; <a href="{{url_for("rp_users", url=chat.url)}}" target="_blank">Full user list</a></p>
    {% endif %}
</section>

<section class="sidebar" id="switch_character">
    <button type="button" class="close">Close</button>
    <h2>Character</h2>
    <form id="switch_character_form">
        {% if characters %}
        <p><select name="character_id">
            <option value="">Saved characters...</option>
            {% for character in characters: %}
            <option value="{{character.id}}">{{character.title}}</option>
            {% endfor %}
        </select></p>
        {% endif %}
        <p><select name="search_character_id">
            {% for group in search_character_groups: %}
            <optgroup label="{{group.name}}">
                {% for character in group.characters: %}
                <option value="{{character.id}}"{% if character.id == chat_user.search_character_id %} selected="selected"{% endif %}>{{character.title}}</option>
                {% endfor %}
            </optgroup>
            {% endfor %}
        </select></p>
        <p><input type="text" id="name_input" name="name" maxlength="50" required value="{{chat_user.name}}"></p>
        <p><input type="text" id="acronym_input" name="acronym" size="15" maxlength="15" value="{{chat_user.acronym}}"></p>
        <p><input type="color" id="color_input" name="color" size="7" required value="#{{chat_user.color}}"> <input type="text" id="color_hex_input" name="color_hex" size="6" maxlength="6" required value="{{chat_user.color}}"></p>
        <p><label>Prefix: <input type="text" name="quirk_prefix" maxlength="100" value="{{chat_user.quirk_prefix}}"></label></p>
        <p><label>Suffix: <input type="text" name="quirk_suffix" maxlength="100" value="{{chat_user.quirk_suffix}}"></label></p>
        <p><label>Case: <select name="case">
            {% for value, name in case_options.items()|sort: %}
            <option value="{{value}}"{% if value == chat_user.case %} selected="selected"{% endif %}>{{name}}</option>
            {% endfor %}
        </select></label></p>
        <p>Simple replacements</p>
        <ul id="replacement_list">
            {% if chat_user_dict.character.replacements|length != 0: %}
            {% for replacement in chat_user_dict.character.replacements: %}
            <li><input type="text" name="quirk_from" size="7" value="{{replacement[0]}}"> to <input type="text" name="quirk_to" size="7" value="{{replacement[1]}}"> <button type="button" class="delete_replacement">x</button></li>
            {% endfor %}
            {% else %}
            <li><input type="text" name="quirk_from" size="7"> to <input type="text" name="quirk_to" size="7"> <button type="button" class="delete_replacement">x</button></li>
            {% endif %}
        </ul>
        <p><button type="button" id="add_replacement">Add</button> <button type="button" id="clear_replacements">Clear</button></p>
        <p>Regex replacements (<a href="http://en.wikipedia.org/wiki/Regular_expression">?</a>)</p>
        <ul id="regex_list">
            {% if chat_user_dict.character.regexes|length != 0: %}
            {% for regex in chat_user_dict.character.regexes: %}
            <li><input type="text" name="regex_from" size="7" value="{{regex[0]}}"> to <input type="text" name="regex_to" size="7" value="{{regex[1]}}"> <button type="button" class="delete_regex">x</button></li>
            {% endfor %}
            {% else %}
            <li><input type="text" name="regex_from" size="7"> to <input type="text" name="regex_to" size="7"> <button type="button" class="delete_regex">x</button></li>
            {% endif %}
        </ul>
        <p><button type="button" id="add_regex">Add</button> <button type="button" id="clear_regexes">Clear</button></p>
        <p><button type="submit">Save</button> <button type="button" class="close">Close</button></p>
    </form>
</section>

<section class="sidebar" id="settings">
    <button type="button" class="close">Close</button>
    <h2>Settings</h2>
    <p><label><input type="checkbox" class="variable" id="confirm_disconnect"{% if chat_user.confirm_disconnect: %} checked="checked"{% endif %}> Confirm disconnect</label></p>
    <p><label><input type="checkbox" class="variable" id="desktop_notifications"{% if chat_user.desktop_notifications: %} checked="checked"{% endif %}> Desktop notifications</label></p>
    <p><label><input type="checkbox" class="variable" id="show_system_messages"{% if chat_user.show_system_messages: %} checked="checked"{% endif %}> Show system messages</label></p>
    <p><label><input type="checkbox" class="variable" id="show_bbcode"{% if chat_user.show_bbcode: %} checked="checked"{% endif %}> Show BBCode (refresh to apply)</label></p>
    <p><label><input type="checkbox" class="variable" id="show_preview"{% if chat_user.show_preview: %} checked="checked"{% endif %}> Show preview</label></p>
    <p><label><input type="checkbox" id="subscribed"{% if chat_user.subscribed: %} checked="checked"{% endif %}> Subscribed</label></p>
</section>

<section id="conversation">
    <p><a href="{{url_for("rp_log", url=chat.url)}}" target="_blank">View log</a></p>
    {% for message in messages: %}
    {{render_message(message)}}
    {% endfor %}
</section>

<form id="send_form">
    <p id="text_preview"></p>
    <input type="text" disabled="disabled" name="text" autocomplete="off" maxlength="5000">
    <button type="submit" disabled="disabled">Send</button>
    <button type="button" disabled="disabled" id="abscond_button">Abscond</button>
    <button type="button" disabled="disabled" id="user_list_button" class="mobile_button">Users</button>
    <button type="button" disabled="disabled" id="switch_character_button">Switch char</button>
    <button type="button" disabled="disabled" id="settings_button">Settings</button>
</form>

<section id="disconnect_links">
    <hr>
    <p>Did you enjoy this chat? Neither did we.</p>
    <ul>
{% if chat.type in ("searched", "roulette"): %}
        <li><a href="http://www.tumblr.com/share/link?name=Check+out+this+chat+I+just+had+on+MSPARP!&url={{url_for("rp_log", url=chat.url, _external=True)}}&tags=msparp" target="_blank">Share the log on Tumblr</a></li>
{% elif chat.type == "group": %}
        <li><a href="http://www.tumblr.com/share/link?name=Check+out+this+chat+I+just+had+on+MSPARP!&url={{url_for("rp_chat", url=chat.url, _external=True)}}&tags=msparp" target="_blank">Share this chat on Tumblr</a></li>
{% endif %}
        <li><a href="{{url_for("home", mode="search" if g.user.last_search_mode != "search" else None)}}">Character search</a></li>
        <li><a href="{{url_for("home", mode="roulette" if g.user.last_search_mode != "roulette" else None)}}">Roulette</a></li>
        <li><a href="{{url_for("rp_groups")}}">Group chats</a></li>
    </ul>
</section>

{% endblock %}
{% block scripts: %}
<script>msparp.chat({{chat|tojson|safe}}, {{chat_user_dict|tojson|safe}}, {{character_shortcuts|tojson|safe}}, {{latest_num|tojson|safe}});</script>
{% endblock %}

