<!DOCTYPE html>
<html>
<head>
<title>{% if chat.type == "group": %}{{chat.title}} - {% endif %}MSPARP</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/normalize.css">
<link rel="stylesheet" href="/static/css/newparp.css">
</head>
<body class="chat">

<script id="user_list_template" type="text/x-handlebars-template">{% raw %}
{{#each users}}
    <li style="color: #{{character.color}};" id="user_{{meta.user_id}}" class="group_{{meta.group}}" title="{{{group_description meta.group}}}">{{character.name}}</li>
{{/each}}
{% endraw %}</script>
<script id="action_list_template" type="text/x-handlebars-template">{% raw %}
    <h1>{{character.name}}</h1>
    <ul>
        {{#if (can_set_group "mod")}}<li id="action_mod">Make Professional Wet Blanket</li>{{/if}}
        {{#if (can_set_group "mod2")}}<li id="action_mod2">Make Bum's Rusher</li>{{/if}}
        {{#if (can_set_group "mod3")}}<li id="action_mod3">Make Amateur Gavel-Slinger</li>{{/if}}
        {{#if (can_set_group "user")}}<li id="action_user">{{{set_user_text}}}</li>{{/if}}
        {{#if (can_set_group "silent")}}<li id="action_silent">Silence</li>{{/if}}
        <li id="action_close">Close</li>
    </ul>
{% endraw %}</script>

<section class="sidebar" id="chat_info">
    <button type="button" class="close">Close</button>
    <section id="action_list"></section>
    <h1>Users</h1>
    <ul id="user_list"></ul>
</section>

<section id="conversation">
    {% for message in messages: %}
    <p id="message_{{message.id}}" class="message_{{message.type}} user_{{message.user_id}}" style="color: #{{message.color}};">{% if message.type == "me": %}* {{message.name}} {{message.text}}{% else: %}{% if message.alias != "" %}{{message.alias}}: {% endif %}{{message.text}}{% endif %}</p>
    {% endfor %}
</section>

<form id="send_form">
    <input type="text" name="text">
    <button type="submit">Send</button>
    <button type="button" id="abscond_button">Abscond</button>
    <button type="button" id="chat_info_button" class="mobile_button">Users</button>
</form>

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//cdn.jsdelivr.net/handlebarsjs/2.0.0/handlebars.min.js"></script>
<script src="/static/js/newparp.js"></script>
<script>msparp.chat({{chat|tojson|safe}}, {{chat_user_dict|tojson|safe}}, {{latest_num|tojson|safe}});</script>

</body>
</html>
