<!DOCTYPE html>
<html>
<head>
<title>{% if chat.title: %}{{chat.title}}{% else: %}Chat{% endif %} - MSPARP</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/normalize.css">
<link rel="stylesheet" href="/static/css/newparp.css">
</head>
<body class="chat">

{% if chat.type == "group": %}
<section id="topbar">
    <h1>{{chat.title}}</h1>
    <span class="topic">{{chat.topic}}</span>
</section>

<section id="info_panel">
    <button type="button" class="close">Close</button>
    <h2>{{chat.title}}</h2>
    <p class="topic">{{chat.topic}}</p>
    <p id="info_panel_controls"><button class="set_topic_button">Set topic</button> <button id="edit_info_button">Edit info</button></p>
    <h2>Description</h2>
    <p id="description">{{chat.description}}</p>
    <h2>Rules</h2>
    <p id="rules">{{chat.rules}}</p>
</section>

<section id="edit_info_panel">
    <button type="button" class="close">Close</button>
    <form id="edit_info_form">
        <h2>Description</h2>
        <p class="textarea_wrapper"><textarea name="description" rows="10"></textarea></p>
        <h2>Rules</h2>
        <p class="textarea_wrapper"><textarea name="rules" rows="10"></textarea></p>
        <p><button type="submit">Save</button></p>
    </form>
</section>
{% endif %}

<script id="user_list_template" type="text/x-handlebars-template">{% raw %}
{{#each users}}
    <li style="color: #{{character.color}};" id="user_{{meta.user_id}}" class="group_{{meta.group}}" title="{{{group_description meta.group}}}">{{character.name}}{{#if (is_you)}} (you){{/if}}</li>
{{/each}}
{% endraw %}</script>
<script id="action_list_template" type="text/x-handlebars-template">{% raw %}
    <ul>
        {{#if (is_you)}}<li id="action_switch_character">Switch character</li>{{/if}}
        {{#if (can_set_group "mod")}}<li id="action_mod">Make Professional Wet Blanket</li>{{/if}}
        {{#if (can_set_group "mod2")}}<li id="action_mod2">Make Bum's Rusher</li>{{/if}}
        {{#if (can_set_group "mod3")}}<li id="action_mod3">Make Amateur Gavel-Slinger</li>{{/if}}
        {{#if (can_set_group "user")}}<li id="action_user">{{{set_user_text}}}</li>{{/if}}
        {{#if (can_set_group "silent")}}<li id="action_silent">Silence</li>{{/if}}
        <li id="action_close">Close</li>
    </ul>
{% endraw %}</script>

<section class="sidebar" id="user_list_container">
    <button type="button" class="close">Close</button>
    {% if chat.type == "group": %}
    <section class="toggle_box" id="mod_tools">
        <input type="checkbox" id="mod_tools_toggle">
        <h2>&gt; <label for="mod_tools_toggle">Mod tools</label></h2>
        <ul>
            <li><button class="set_topic_button">Set topic</button></li>
            <li><label><input type="checkbox" id="flag_autosilence"> Auto-silence new users</label></li>
            <li><label><input type="checkbox" id="flag_publicity"> Show in public chat list</label></li>
            <li><label><select id="flag_style">
                <option value="script">Script</option>
                <option value="paragraph">Paragraph</option>
                <option value="either">Either</option>
            </select> style</label></li>
            <li><label>This chat is <select id="flag_level">
                <option value="sfw">SFW</option>
                <option value="nsfw">NSFW</option>
                <option value="nsfw-extreme">NSFW extreme</option>
            </select></label></li>
        </ul>
    </section>
    <section id="flag_messages">
        <ul>
            <li id="flag_message_autosilence">New users are auto-silenced.</li>
            <li id="flag_message_publicity">This chat is listed on the public chats list.</li>
            <li id="flag_message_style">Please use script stype.</li>
            <li>This chat is <span id="flag_message_level">SFW</span>.</li>
        </ul>
    </section>
    {% endif %}
    <section id="action_list"></section>
    <h2>Users</h2>
    <ul id="user_list"></ul>
</section>

<section class="sidebar" id="switch_character">
    <button type="button" class="close">Close</button>
    <h2>Switch character</h2>
    <form id="switch_character_form">
        {% if characters %}
        <p><select name="character_id">
            <option value="">Saved characters...</option>
            {% for character in characters: %}
            <option value="{{character.id}}">{{character.title}}</option>
            {% endfor %}
        </select></p>
        {% endif %}
        <p><select name="search_character_id">
            {% for group in search_character_groups: %}
            <optgroup label="{{group.name}}">
                {% for character in group.characters: %}
                <option value="{{character.id}}"{% if character.id == chat_user.search_character_id %} selected="selected"{% endif %}>{{character.title}}</option>
                {% endfor %}
            </optgroup>
            {% endfor %}
        </select></p>
        <p><input type="text" id="name_input" name="name" maxlength="50" required value="{{chat_user.name}}"></p>
        <p><input type="text" id="alias_input" name="alias" size="15" maxlength="15" value="{{chat_user.alias}}"> <input type="color" id="color_input" name="color" size="7" required value="#{{chat_user.color}}"></p>
        <p><label>Prefix: <input type="text" name="quirk_prefix" maxlength="50" value="{{chat_user.quirk_prefix}}"></label></p>
        <p><label>Suffix: <input type="text" name="quirk_suffix" maxlength="50" value="{{chat_user.quirk_suffix}}"></label></p>
        <p><label>Case: <select name="case">
            {% for value, name in case_options.items(): %}
            <option value="{{value}}"{% if value == chat_user.case %} selected="selected"{% endif %}>{{name}}</option>
            {% endfor %}
        </select></label></p>
        <p>Simple replacements</p>
        <ul id="replacement_list">
            {% if chat_user_dict.character.replacements|length != 0: %}
            {% for replacement in chat_user_dict.character.replacements: %}
            <li><input type="text" name="quirk_from" size="7" value="{{replacement[0]}}"> to <input type="text" name="quirk_to" size="7" value="{{replacement[1]}}"> <button type="button" class="delete_replacement">x</button></li>
            {% endfor %}
            {% else %}
            <li><input type="text" name="quirk_from" size="7"> to <input type="text" name="quirk_to" size="7"> <button type="button" class="delete_replacement">x</button></li>
            {% endif %}
        </ul>
        <p><button type="button" id="add_replacement">Add</button> <button type="button" id="clear_replacements">Clear</button></p>
        <p>Regex replacements (<a href="http://en.wikipedia.org/wiki/Regular_expression">?</a>)</p>
        <ul id="regex_list">
            {% if chat_user_dict.character.regexes|length != 0: %}
            {% for regex in chat_user_dict.character.regexes: %}
            <li><input type="text" name="regex_from" size="7" value="{{regex[0]}}"> to <input type="text" name="regex_to" size="7" value="{{regex[1]}}"> <button type="button" class="delete_regex">x</button></li>
            {% endfor %}
            {% else %}
            <li><input type="text" name="regex_from" size="7"> to <input type="text" name="regex_to" size="7"> <button type="button" class="delete_regex">x</button></li>
            {% endif %}
        </ul>
        <p><button type="button" id="add_regex">Add</button> <button type="button" id="clear_regexes">Clear</button></p>
        <p><button type="submit">Save</button> <button type="button" class="close">Close</button></p>
    </form>
</section>

<section id="conversation">
    {% for message in messages: %}
    <p id="message_{{message.id}}" class="message_{{message.type}} user_{{message.user_id}}" style="color: #{{message.color}};">{% if message.type == "me": %}* {{message.name}} {{message.text}}{% else: %}{% if message.alias != "" %}{{message.alias}}: {% endif %}{{message.text}}{% endif %}</p>
    {% endfor %}
</section>

<form id="send_form">
    <p id="text_preview"></p>
    <input type="text" name="text" autocomplete="off">
    <button type="submit">Send</button>
    <button type="button" id="abscond_button">Abscond</button>
    <button type="button" id="user_list_button" class="mobile_button">Users</button>
    <button type="button" id="switch_character_button">Switch char</button>
</form>

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//cdn.jsdelivr.net/handlebarsjs/2.0.0/handlebars.min.js"></script>
<script src="/static/js/newparp.js"></script>
<script>msparp.chat({{chat|tojson|safe}}, {{chat_user_dict|tojson|safe}}, {{latest_num|tojson|safe}});</script>

</body>
</html>
