{% extends "rp/chat/base.html" %}
{% block content: %}

{{pager()}}

{% if own_chat_user: %}
<form action="{{url_for("save_variables")}}" method="POST">
    <input type="hidden" name="token" value="{{g.csrf_token}}">
    <input type="hidden" name="chat_id" value="{{chat.id}}">
    <input type="hidden" name="show_system_messages" value="{{"off" if own_chat_user.show_system_messages else "on"}}">
    <p><button>{{"Hide" if own_chat_user.show_system_messages else "Show"}} system messages</button></p>
</form>
{% endif %}

<section id="archive_conversation">
    {{render_messages(messages, bbcode_tags=request.args.get("mode") == "bbcode")}}
    {% if paginator.page == paginator.last_page and (chat.type != "roulette" or own_chat_user): %}
    <p><a href="{{url_for("rp_chat", url=url)}}">Continue this chat</a></p>
    {% endif %}
</section>

{{pager()}}

{% endblock %}
{% block scripts: %}
{% if request.args.get("mode") != "bbcode" %}
<script>msparp.log({{"true" if own_chat_user == None or own_chat_user.show_bbcode else "false"}});</script>
{% endif %}
{% endblock %}
