{% extends "rp/chat/base.html" %}
{% block content: %}

{{pager()}}

{% if own_chat_user: %}
<form action="{{url_for("save_variables")}}" method="POST">
    <input type="hidden" name="chat_id" value="{{chat.id}}">
    <input type="hidden" name="show_connection_messages" value="{{"off" if own_chat_user.show_connection_messages else "on"}}">
    <p><button>{{"Hide" if own_chat_user.show_connection_messages else "Show"}} connection messages</button></p>
</form>
{% endif %}

<section id="archive_conversation">
    {% for message in messages: %}
    {{render_message(message)}}
    {% endfor %}
	{% if paginator.page == paginator.last_page: %}
	<p><a href="{{url_for("rp_chat", url=url)}}">Continue this chat</a></p>
	{% endif %}
</section>

{{pager()}}

{% endblock %}
{% block scripts: %}
<script>msparp.log();</script>
{% endblock %}
