{% extends "rp/chat/base.html" %}
{% macro day_navigation(): %}
{% if previous_message or next_message: %}
<p class="pager">
{% if previous_message: %}
  <span class="previous_day">&laquo; <a href="{{url_for("rp_log_day", url=url, year=previous_message.posted.year, month=previous_message.posted.strftime("%m"), day=previous_message.posted.strftime("%d"))}}">{{previous_message.posted.strftime("%Y-%m-%d")}}</a></span>
{% endif %}
{% if next_message: %}
  <span class="next_day"><a href="{{url_for("rp_log_day", url=url, year=next_message.posted.year, month=next_message.posted.strftime("%m"), day=next_message.posted.strftime("%d"))}}">{{next_message.posted.strftime("%Y-%m-%d")}}</a> &raquo;</span>
{% endif %}
</p>
{% endif %}
{% endmacro %}
{% block content: %}

{{day_navigation()}}

{% if own_chat_user: %}
<form action="{{url_for("save_variables")}}" method="POST">
    <input type="hidden" name="token" value="{{g.csrf_token}}">
    <input type="hidden" name="chat_id" value="{{chat.id}}">
    <input type="hidden" name="show_system_messages" value="{{"off" if own_chat_user.show_system_messages else "on"}}">
    <p><button>{{"Hide" if own_chat_user.show_system_messages else "Show"}} system messages</button></p>
</form>
{% endif %}

<section id="archive_conversation">
    {{render_messages(messages)}}
    {% if next_message == None: %}
    <p><a href="{{url_for("rp_chat", url=url)}}">Continue this chat</a></p>
    {% endif %}
</section>

{{day_navigation()}}

{% endblock %}
{% block scripts: %}
<script>msparp.log({{"true" if own_chat_user == None or own_chat_user.show_bbcode else "false"}});</script>
{% endblock %}
