{% extends "base.html" %}
{% block title: %}Invitations to {{chat.title}} - {% endblock %}
{% block content: %}
<div class="common_box">
    <h2><label class="user_edit_box_header"><span>Invitations to {{chat.title}}</span></label></h2>
    <div class="common_box_wrap">
        {% if invites: %}
        {{pager()}}
        <table class="chat_user_table chat_invites_table admin_version">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>#</th>
                    <th>Character</th>
                    <th>Invited by</th>
                    <th>Un-invite</th>
                </tr>
            </thead>
            <tbody>
                {% for invite, user in invites: %}
                <tr>
                    <td>{{user.username}}</td>
                    <td>{% if invite.chat_user %}{{invite.chat_user.number}}{% endif %}</td>
                    <td><span style="color: #{{invite.chat_user.color}}">{{invite.chat_user.name}}</span>{% if invite.chat_user.acronym != "": %} [<span style="color: #{{invite.chat_user.color}}">{{invite.chat_user.acronym}}</span>]{% endif %}</td>
                    <td>{% if invite.creator_chat_user %}<span style="color: #{{invite.creator_chat_user.color}}">{{invite.creator_chat_user.name}}</span>{% if invite.creator_chat_user.acronym != "": %} [<span style="color: #{{invite.chat_user.color}}">{{invite.creator_chat_user.acronym}}</span>]{% endif %} (user number {{invite.creator_chat_user.number}}){% endif %}</td>
                    <td>{% if user != g.user: %}<form action="{{url_for("rp_chat_uninvite", url=chat.url)}}" method="post">
                        <input type="hidden" name="token" value="{{g.csrf_token}}">
                        <input type="hidden" name="username" value="{{user.username}}">
                        <button type="submit">Un-invite</button>
                    </form>{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{pager()}}
        {% else: %}
        <p>Nobody has been invited to this chat.</p>
        {% endif %}
        <form action="{{url_for("rp_chat_invite", url=chat.url)}}" method="post">
            <input type="hidden" name="token" value="{{g.csrf_token}}">
        {% if "invite_error" in request.args and request.args["invite_error"] == "no_user": %}
            <p class="error">There doesn't seem to be an account with that username.</p>
        {% endif %}
            <div class="input shortname_box"><p><input type="text" id="invite_name" name="username" required><label for="invite_name">Username</label></div> <button type="submit">Invite</button></p>
        </form>
    </div>
</div>
{% endblock %}

