/* General */

body {
    font-size: 16px;
}

#conversation, #preview, .pager, #archiveConversation {
    background-color: #FFFFFF;
}

#chardrop option, #datadrop option {
    width: 180px;
    text-overflow: hidden;
}

.timestamp {
    display: none;
}

.p {
    margin: 0;
    padding: 2px 5px;
}

.bar {
    display: block;
    border-bottom: solid 1px #DDDDDD;
    width: 100%;
    margin-bottom: 8px;
}

p:hover .timestamp {
    display: block;
    float: right;
    color: #666;
}

.select-bind {
    display: inline-block;
}

input[type='checkbox'] + button {
    text-decoration: line-through;
}

input[type='checkbox']:checked + button {
    background-color: #82B383;
    text-decoration: none;
}

input[type='checkbox']:checked + button:active {
    background-color: transparent;
}

input[type='checkbox']:checked + button:hover {
    background-color: #97CF98;
}

.card input[type='checkbox'] {
    display: none;
}

/* Top Bar */

#topbar {
    position: absolute;
    background-color: #FFFFFF;
}

#topbar center {
    height: 44px;
}

#topbar #toptitle {
    position: relative;
    top: -6px;
    width: 44px;
    height: 44px;
    padding: 0 5px;
    background-color: transparent;
    display: inline;
    width: auto;
}

#topbar #toptitle:hover {
    background-color: transparent;
}

body.menu #topbar #toptitle {
    background-color: #F6F6F6;
}

#topbar #toptitle:hover {
    background-color: #F6F6F6;
}

#toptitle img {
    position: relative;
    top: 8px;
}

#topbar #topmenu {
    background-color: #F6F6F6;
    background-color: rgba(246,246,246,.95);
    position: relative;
    top: -6px;
}

#topbar #topmenu a, #topbar #topmenu div {
    color: #B0E0B0;
    cursor: pointer;
}

#topbar #topmenu a:hover, #topbar #topmenu div:hover {
    background-color: #EEEEEE;
}

#topmenu .topborder {
    border-color: #B0E0B0;
}

#topbar .left {
    position: absolute;
    top: 0;
    left: 10px;
}

#topbar .right {
    position: absolute;
    top: 0;
    right: 10px;
}

#topbar span span {
    color: #69926A;
    cursor: pointer;
    transition: color .5s;
}

/* Chat layout */

#conversation, textarea#textInput, .card {
    border-bottom: solid 2px #696969;
}

#convo {
    position: absolute;
    width: 100%;
    max-height: 100%;
    bottom: 0px;
}

#conversation {
    font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 400;
    position: absolute;
    top: 55px;
    right: 10px;
    bottom: 110px;
    left: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#conversation p, #archiveConversation p, #online {
    overflow: hidden;
}

#conversation .ooc {
    opacity: .5;
}

#conversation .ooc:hover {
    opacity: 1;
}

#conversation .ooc * {
    opacity: .5;
}

#conversation .ooc:hover * {
    opacity: 1;
}

#conversation .info {
    position: relative;
    top: -3px;
    font-size: 10px;
    color: #aaaaaa;
    border-bottom: solid;
    border-bottom-width: 1px;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 1px;
}

#conversation p.info .right {
    float: right;
}

body.withSidebar #conversation {
    right: 340px;
}

body.mobile.withSidebar #conversation {
    right: 10px;
}

.sidebar {
    background-color: #AACCAA;
    background-color: rgba(170, 204, 170, .8);
    display: none;
    position: absolute;
    top: 55px;
    right: 10px;
    bottom: 10px;
    width: 320px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.sidebar .sidebarContain {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: initial;
}

body.mobile .sidebarContain {
    padding-right: 5px;
    box-sizing: border-box;
}

.card {
    font-family: "Source Sans Pro A" sans-serif;
    font-weight: 400;
    background-color: #FFFFFF;
    color: #6A936B;
    margin-bottom: 15px;
    padding: 10px;
}

.card button {
    font-size: 20px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
}

.stoptions button {
    font-size: 20px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    pointer-events: none;
}

.stoptions label {
    margin-top: 10px;
    cursor: pointer;
}

body.mobile .sidebarContain .card {
    width: 100%;
    width: -moz-calc(100% - 5px);
    width: -webkit-calc(100% - 5px);
    width: -o-calc(100% - 5px);
    width: calc(100% - 5px);
}

#topic {
    padding: 0 5px 5px;
    word-wrap: break-word;
}

#topic.hide {
    height: 100px;
    overflow: hidden;
}

#topic:empty:after {
    content: "(empty)";
    padding: 2px 0;
    color: #999999;
}

ul#metaOptions {
    margin: 0;
    padding: 0;
    padding-left: 2px;
    list-style-type: none;
}

#online:empty:after, #idle:empty:after {
    content: "(no-one)";
    display: block;
    padding: 2px 0;
    color: #999999;
}

#online li, #idle li {
    cursor: pointer;
}

#settings .card {
    font-size: 20px;
    background-color: #FFFFFF;
    border-bottom: solid 2px #696969;
    text-align: left;
}

#settings .section .right.card {
    display: block;
}

.card .titi {
    font-family: "Source Sans Pro B", Sans-Serif;
    font-weight: 100;
    font-size: 25px;
    color: #6A936B;
    text-align: center;
    margin-bottom: 10px;
}

#settings label {
    margin-top: 1px;
    margin-bottom: 6px;
}

#settings .card .left, #settings .card .right {
    display: inline-block;
}

#settings .card .left {
    width: 30%;
}

#settings .card .right {
    width: 67%;
}

#settings .card .right input {
    width: 100%;
}

.replacementContainer {
    background-color: #F8F8F8;
    border: 1px solid #92B792;
    padding: 10px;
    height: 178px;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
}

.replacementContainer {
    font-size: 16px;
}

.replacementContainer input {
    font-size: 14px;
    height: 20px;
    width: 70px;
}

.replacementList {
    margin-bottom: 5px;
}

input[name='quirk_from'] {
    margin-right: 15px;
}

input[name='quirk_to'] {
    margin-left: 15px;
}

.replacementContainer a {
    color: #000000;
}

a#addReplacement, a#clearReplacements {
    font-size: 14px;
}

.controls {
    position: fixed;
    right: 10px;
    bottom: 10px;
    left: 10px;
    z-index: -1;
}

body.withSidebar .controls {
    right: 340px;
}

body.withSidebar.mobile .controls {
    right: 10px;
}

#preview {
    display: none;
    padding: 5px;
    overflow: hidden;
    border-bottom: solid 1px #DDDDDD;
}

#textInput {
    font-size: 16px;
    background-color: #FFFFFF;
    display: block;
    height: 50px;
    width: 100%;
    padding: 5px;
    padding-right: 60px;
    margin: 0;
    border: none;
}

#statusInput {
    color: #B0E0B0;
    font-family: 'Source Sans Pro B', sans-serif;
    font-size: 35px;
    background-color: transparent;
    height: 100%;
    width: 110px;
    padding: 0 1px;
    margin: 0;
    border: none;
}

#statusButton {
    display: inline-block;
}

body #userListButton {
    display: none;
}

.controls button[type="submit"] {
    font-family: "Source Sans Pro A", Sans-Serif;
    position: absolute;
    font-size: 20px;
    height: 48px;
    right: -2px;
    bottom: 2px;
}

.highlight {
    background-color: #CCFFCC;
}

.blocking {
    display: none;
}

body > #save {
    display: none;
}

#exclaim {
    position: relative;
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#extain {
    position: relative;
    left: 3px;
}

#reclaim {
    position: relative;
    left: 2px;
}

/* Sidebars */

#settings, #userList {
    display: none;
}

#userList {
    font-weight: bold;
}

.sidebar input[name="name"] {
    width: 90%;
}

.sidebar input[name="acronym"] {
    margin-bottom: 4px;
}

.sidebar .hidedesc {
    cursor: pointer;
}

.sidebar .select-bind {
    width: 100%;
}

.sidebar .stoptions button {
    font-size: 16px;
    margin-top: 2px;
}

#notificationHead p {
    padding: 0;
}

p.notificationLevel.default button, p.notificationLevel.denied button {
    background-color: #D56063;
}

.sidebar label button a {
    color: #FFFFFF;
    text-decoration: none;
}

#sharing {
    margin-bottom: 20px;
}

/* User groups */

.globalmod {
    text-decoration: underline;
}

.silent {
    text-decoration: line-through;
}

/* Moderation */

.metaOptions, .modPowers #metaResults, #metaResults li {
    display: none;
}

.modPowers .metaOptions {
    display: block;
}

#metaOptions label {
    width: 100%;
}

#editPass {
    display: none;
}

/* Mobile */

body.mobile .sidebar {
    border: 0;
    top: 44px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: auto;
}

body.mobile .sidebar .close {
    display: block;
    margin: 5px;
    float: right;
}

body.mobile #userListButton {
    display: inline;
}

#userList li .username {
    display: block;
    color: #000000;
    font-size: 11px;
}

/* Archive */

.pager {
    padding: 2px 5px;
}

#archiveConversation {
    margin: 5px 0;
    padding: 2px 0;
}

/* Center */

.centerHorizontal {
    display: inline;
    position: absolute;
    left: 50%;
}

.centerVertical {
    display: inline;
    position: absolute;
    top: 50%;
}

/* BBCode */

.padded {
    padding: 5px;
    border-radius: 5px;
}

.spoil {
    border: dashed;
    border-width: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

.spoiler {
    opacity: 0;
    cursor: pointer;
}

.spoiler:hover {
    opacity: 1;
}