/*

New MSPARP CSS

Contents:

1. Layout
	1. Header
	2. Navigation
	3. Footer
	4. Announcements
2. Content
	1. Forms
	2. Toggle box
3. Pages
	1. Front page
	2. Searching
	3. Group chats
4. Chat window
	1. Topbar and info panel
	2. Sidebars
	3. Conversation and send form
	4. Log pages

*/

/* 1. Layout */

body { background-color: #535353; font-family: "Courier", "Courier New", monospace; font-weight: bold; font-size: 10pt; }

/* Header has top corners, main has bottom corners. */
header, main { background-color: #ccc; border: 1px solid #999999; }
header { margin: 20px 20px 0; padding: 20px; border-bottom: 0; }
main { margin: 0 20px; padding: 20px; border-top: 0; font-family: Helvetica, Arial, sans-serif; font-weight: normal; }

main > * { max-width: 40rem; }

/* Padding prevents border collapsing so remove first and last borders to compensate. */
main > :first-child { margin-top: 0; }
main > :last-child { margin-bottom: 0; }

@media (max-width: 600px) {
	header { margin: 5px 5px 0; padding: 10px; }
	main { margin: 0 5px; padding: 10px; }
}

/* 1.1. Header */

#users_online { float: right; text-align: right; }
#users_online p { margin: 0; }

@media (max-width: 700px) {
	/* XXX Put this somewhere else rather than hiding it? */
	#users_online { display: none; }
}

/* Align baseline of logo text with bottom padding. */
h1 { margin: 0 0 -4px 0; }
h1 img { display: block; max-width: 100%; }

/* 1.2. Navigation */

#global_navigation { margin: 0 20px; background-color: #ccc;  border-left: 1px solid #999999; border-right: 1px solid #999999; font-size: 10pt; text-transform: uppercase; }
#global_navigation, #global_navigation a { color: #eee; }
#global_navigation label, #global_navigation input { display: none; }
#global_navigation ul { margin: 0 20px; padding: 0; list-style-type: none; background-color: #626262; }
#global_navigation li { display: inline-block; margin-left: 10px; }
/* Padding so the whole height of the navbar is clickable */
#global_navigation a, #global_navigation button { display: block; padding: 7px 0; text-decoration: none; white-space: nowrap; }
#global_navigation a:before, #global_navigation button:before { content: "> "; visibility: hidden; }
#global_navigation a:hover, #global_navigation button:hover { color: #fff; }
#global_navigation a:hover:before, #global_navigation button:hover:before { visibility: visible; }
#global_navigation button { width: 100%; margin: 0; border: 0; background-color: transparent; text-align: left; text-transform: uppercase; }
#global_navigation .user ul { margin: 0 0 0 -10px; }

@media (min-width: 601px) {
	#global_navigation .user { float: right; position: relative; }
	#global_navigation .user ul { display: none; }
	#global_navigation .user:hover ul { display: block; position: absolute; right: 0; }
	#global_navigation .user li { display: block; }
	#global_navigation .user a { padding-right: 28px; }
}

@media (max-width: 600px) {
	#global_navigation { margin: 0 5px; }
	#global_navigation label { display: block; margin: 0 10px; padding: 7px 10px; background-color: #626262; cursor: pointer; }
	#global_navigation label:hover { color: #fff; }
	#global_navigation input:not(:checked) + ul { display: none; }
	#global_navigation ul { margin: 0 10px; }
	#global_navigation li { display: block; margin-left: 0; padding-left: 10px; }
	#global_navigation a { display: block; }
}

/* 1.3. Footer */

footer { margin: 10px 20px; text-align: right; text-transform: uppercase; font-size: 12pt; }
footer, footer a { color: #ddd; }
footer ul { margin: 0; padding: 0; list-style-type: none; }
footer li { display: inline; margin-right: 20px; }
footer a { text-decoration: none; white-space: nowrap; }
footer a:hover { color: #fff; }

@media (max-width: 700px) {
	footer { margin: 10px 5px; text-align: center; }
	footer li { margin: 0 5px; }
}

/* 1.4. Announcements */

#announcements { max-width: none; padding: 5px; background-color: #eee; }
#announcements h2 { margin: 0; }
#announcements p { margin: 0 0 0 8px; }

/* 2. Content */

a:hover { text-decoration: none; }

h2, h3, h4, h5, h6, h2 a, h3 a, h4 a, h5 a, h6 a { color: #2c2c2c; }
h2 { font-size: 12pt; }
h3 { font-size: 10pt; }

ul { padding-left: 1em; }

table { max-width: none; }
th { text-align: left; }
th, td { padding: 5px 8px; }
tbody tr:nth-child(2n+1) { background-color: #ddd; }
td a:only-child { display: block; }
td form { display: inline; }

.error { color: #f00; }

#subnav { margin: 10px 0; }

/* 2.1. Forms */

input, select, button { vertical-align: middle; }

h2 select { font-size: 10pt; color: #000; }

.input_table { display: table; }
.input_table p { display: table-row; }
.input_table p > label, .input_table p > input, .input_table p > select, .input_table p > span { display: table-cell; }
.input_table p > input, .input_table p > select { margin: 2px 0; }
.input_table p > label { padding-right: 5px; }

textarea { width: 100%; resize: vertical; }

/* 2.2. Toggle box */

.toggle_box > input:first-child { display: none; }
.toggle_box > input:first-child:not(:checked) + h2 ~ *, .toggle_box > input:first-child:not(:checked) + h3 ~ * { display: none }
/* Make these look more clickable. */
.toggle_box h2 label, .toggle_box h3 label { cursor: pointer; text-decoration: underline; }
.toggle_box h2 label:hover, .toggle_box h3 label:hover { text-decoration: none; }

/* 3. Pages */

/* 3.1. Front page */

#text_preview_container { background-color: #eee; padding: 3px 5px; font-family: "Courier", "Courier New", monospace; font-weight: bold; font-size: 12px; }

.character_list { margin: 0; padding: 0; border: 0; }
.character_list ul { margin: 10px 0; padding: 0 0 0 10px; list-style-type: none; line-height: 1.8em; }
.character_list li { display: inline-block; }

.character_button { display: none; }

/* 3.2. Searching */

#spinner { width: 140px; height: 140px; margin: 0 auto; background-image: url("/static/img/spinner-big.gif") }

#search_connecting, #spinner, #search_error { margin: 50px auto 30px; text-align: center; font-size: 16pt; }
#spinner, #search_error, .searching #search_connecting, .search_error #search_connecting { display: none; }
.searching #spinner, .search_error #search_error { display: block; }
#search_error { color: #f00; }

/* 4. Chat window */

.chat { background-color: #ccc; font-size: 12px; word-wrap: break-word; }
.chat h2, .chat h3, .chat p { margin: 5px; }
.chat h2 { font-size: 14pt; }
.chat h3 { font-size: 12px; }
.chat input, .chat textarea, .chat button, .chat select { padding: 2px; border: 0; background-color: #fbfbfb; }
.chat textarea { margin: 0 -2px; }
.chat .textarea_wrapper { padding: 2px 7px; }
.chat button:hover { background-color: #fff; }
.chat button { padding: 2px 6px; }
section > .close:first-child { float: right; margin: 5px; }

/* 3.3. Group chats */

#group_chats { max-width: none; padding: 0; list-style-type: none; }
#group_chats { -moz-column-width: 500px; -moz-column-gap: 20px; -webkit-column-width: 500px; -webkit-column-gap: 20px; }
#group_chats li { margin:  0 auto 20px; padding: 10px; background-color: #eee; }
/* overflow:hidden prevents column breaks in Firefox. */
#group_chats li { overflow: hidden; -webkit-column-break-inside: avoid; }
#group_chats li:last-child { margin-bottom: 0; }
#group_chats h3 { margin: 0; font-size: 12pt; }
#group_chats p { margin: 5px 5px 0; }
#group_chats .subtitle { color: #666; }

/* 4.1. Topbar and info panel */

#topbar { position: fixed; top: 5px; right: 5px; left: 5px; height: 25px; padding-right: 8px; background-color: #eee; line-height: 25px; cursor: pointer; }
#topbar h1 { float: left; max-width: 100%; margin: 0 8px 0 0; padding: 0 5px; background-color: #f8f8f8; font-size: 14pt; }
#topbar, #topbar h1 { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
#topbar ~ #conversation, #topbar ~ .sidebar { top: 35px; }
#info_panel, #edit_info_panel { display: none; position: fixed; top: 35px; right: 5px; bottom: 5px; left: 5px; z-index: 1; overflow: auto; background-color: #eee; }
.topic:empty:before { content: "(no topic)"; color: #999; font-style: italic; }
#info_panel p { white-space: pre-line; }

/* 4.2. Sidebars */

.sidebar { display: none; position: fixed; top: 5px; right: 5px; bottom: 5px; left: 5px; z-index: 1; overflow: auto; background-color: #eee; }
@media (min-width: 500px) {
	.mobile_button { display: none; }
	.sidebar { left: auto; width: 220px; }
	.chatting #info_panel, .chatting #edit_info_panel, .chatting #conversation, .chatting #send_form { right: 230px; }
	.chatting #user_list_container { display: block; }
	#user_list_container .close:first-child { display: none; }
}
.sidebar ul { margin: 5px 0; padding: 0 0 0 1.5em; }
.sidebar li { margin: 2px 0; }

#mod_tools, #flag_messages { display: none; }

#user_list_container a { color: #2c2c2c; }
#user_list li, #action_list li { cursor: pointer; }
.group_admin { text-decoration: underline; }
.group_creator, .group_mod, .group_mod2, .group_mod3 { font-style: italic; }
.group_silent { text-decoration: line-through; }
#action_list { color: #000; text-decoration: none; font-style: normal; }

/* 4.3. Conversation and send form */

#conversation { position: fixed; top: 5px; right: 5px; bottom: 72px; left: 5px; overflow: auto; padding: 2px 0; background-color: #eee; }
#conversation p, #archive_conversation p { margin: 0; padding: 2px 5px; overflow: hidden; }
.hide_connection_messages .message_join, .hide_connection_messages .message_disconnect, .hide_connection_messages .message_timeout { display: none; }
.unum { float: left; padding: 2px 0 2px 5px; }
.highlighted { background-color: #fff; }
.ignored { display: none; }

#send_form { position: fixed; right: 5px; bottom: 5px; left: 5px; padding: 0 2px; }
#text_preview { margin: 0 -2px; padding: 2px; background-color: #eee; }
#text_preview:empty:before { content: " "; } /* No-break space to stop it from collapsing. */
#send_form input[name=text] { display: block; width: 100%; margin: 0 -2px 5px; }
#send_form button[type=submit] { float: right; margin-right: -2px; }
#abscond_button { margin-left: -2px; }


/* 4.4. Log pages */

.chat .pager, #archive_conversation { margin: 5px; background-color: #eee; }

