{% extends "base.html" %}
{% import "account/forms.html" as forms %}
{% block content: %}
    <section>
        <h2>Welcome to MxRP! Before signing up, please read <a href="http://msparp.com/userguide">this guide</a> and the <a href="http://help.msparp.com/kb/faq.php?id=25">privacy policy</a>.</h2>
    </section>
    <section>
        {{forms.register()}}
        {{forms.log_in()}}
    </section>
{% endblock %}
{% block scripts: %}
<script>msparp.register();msparp.log_in();</script>
{% endblock %}
