{% extends "admin/spamless/base.html" %}
{% block title: %}Banned names - Spamless - {% endblock %}
{% block content: %}
    {{ super() }}
    <h2>Banned names</h2>
    <ul>
        {% for name in names: %}
        <li>
            {{ name.regex }}
            <form action="" method="post">
                <input type="hidden" name="token" value="{{ g.csrf_token }}">
                <input type="hidden" name="command" value="remove">
                <input type="hidden" name="name" value="{{ name.regex }}">
                <button type="submit">Remove</button>
            </form>
        </li>
        {% endfor %}
        <li>
            {% if error: %}
            <p class="error">Not a valid regular expression: {{ error }}</p>
            {% endif %}
            <form action="" method="post">
                <input type="hidden" name="token" value="{{ g.csrf_token }}">
                <input type="hidden" name="command" value="add">
                <input type="text" name="name" value="{{ request.form.name }}" required>
                <button type="submit">Add</button>
            </form>
        </li>
    </ul>
{% endblock %}

