{% extends "admin/spamless/base.html" %}
{% block title: %}Blacklist - Spamless - {% endblock %}
{% block content: %}
    {{ super() }}
    <h2>Blacklist</h2>
    <ul>
        {% for phrase, score in phrases: %}
        <li>
            {{ phrase }} ({{ score }})
            <form action="" method="post">
                <input type="hidden" name="token" value="{{ g.csrf_token }}">
                <input type="hidden" name="command" value="remove">
                <input type="hidden" name="phrase" value="{{ phrase }}">
                <button type="submit">Remove</button>
            </form>
        </li>
        {% endfor %}
        <li>
            {% if error: %}
            <p class="error">Not a valid regular expression: {{ error }}</p>
            {% endif %}
            <form action="" method="post">
                <input type="hidden" name="token" value="{{ g.csrf_token }}">
                <input type="hidden" name="command" value="add">
                <input type="text" name="phrase" value="{{ request.form.phrase }}" required>
                <input type="number" name="score" value="{{ request.form.score }}" required>
                <button type="submit">Add</button>
            </form>
        </li>
    </ul>
{% endblock %}

