.section .section {
    margin: 0;
}

#chat-pages {
    max-width: 940px;
}

#pages .card {
    text-align: center;
}

.card .chat-types {
    display: inline-block;
    font-size: 16px;
}

#under-page .section {
    display: inline-block;
}

body.nobile #under-page .section, body.mobile #under-page .section {
    display: block;
}

.card.chat a.title {
    display: block;
    font-size: 20px;
    text-align: center;
}

.users-online {
    margin-bottom: 5px;
    text-align: center;
}

.card.chat .topic {
    font-size: 16px;
}

