.section .section {
    width: 100%;
    max-width: 310px;
    margin: 0;
}

#chat-pages {
    width: 100%;
    max-width: 940px;
}

body.nobile #chat-pages {
    max-width: 620px;
}

body.mobile #chat-pages {
    max-width: 310px;
}

#your-pages .card, #new-pages .card {
    text-align: center;
}

.card .chat-types {
    display: inline-block;
    font-size: 16px;
}

#under-page .section {
    display: inline-block;
}

.card.chat a.title {
    display: block;
    font-size: 20px;
    text-align: center;
}

.users-online {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.card.chat .topic {
    display: none;
    font-size: 16px;
}

