.section .section {
    margin: 0;
}

#chat-pages {
    
}

.card .chat-types {
    display: inline-block;
    font-size: 16px;
}

#under-page {
    
}

.card.chat a.title {
    display: block;
    font-size: 20px;
    text-align: center;
}

.users-online {
    margin-bottom: 5px;
    text-align: center;
}

.card.chat .topic {
    font-size: 16px;
}

