input[type="submit"], button {
    max-width: 290px;
    width: 100%;
}

.section .char_search {
    text-align: center;
}

.section .char_search span {
    font-size: 12px;
    display: block;
}

button.char_search_button {
    font-size: 16px;
    width: 180px;
    height: 25px;
    padding: 0;
}

.pester-line {
    font-size: 16px;
}

.replacementContainer {
    background-color: #F8F8F8;
    border: 1px solid #92B792;
    padding: 10px;
    height: 172px;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
}

.replacementContainer {
    font-size: 16px;
}

.replacementContainer input {
    font-size: 14px;
    height: 20px;
    width: 70px;
}

.replacementList {
    margin-bottom: 5px;
}

input[name='quirk_from'] {
    margin-right: 15px;
}

input[name='quirk_to'] {
    margin-left: 15px;
}

.replacementContainer a {
    color: #000000;
}

a#addReplacement, a#clearReplacements {
    font-size: 14px;
    text-decoration: none;
}

.tags {
    overflow: hidden;
    overflow-y: auto;
    height: 100px;
    width: 100%;
}

.stats {
    font-size: 14px;
}

.stats a {
    display: inline-block;
}

.stats a.tag:before {
    content: "#";
}

.stats a.tag:after {
    content: " ";
}

body.nobile #typing-quirks, body.mobile #typing-quirks {
    margin-top: 0;
}

body.nobile .section .center, body.mobile .section .center {
    display: block;
}


/* Button Showing */

#inztwo .save_character {
    display: none;
}

body.nobile #inzone, body.nobile #inztwo {
    display: none;
}

body.mobile #inzone .save_character {
    display: none;
}

body.nobile #inztwo .save_characte, body.mobile #inztwo .save_character {
    display: block;
    position: relative;
    left: 10px;
}