/* Homepage */

noscript, .error {
    color: #ff0000;
}

.clear {
    clear: both;
}

.hide {
    display: none;
}

/* NEW */

body.nobile .section-bind {
    display: inline-block;
    width: 290px;
}

div.body {
    text-align: center;
}

.section {
    display: inline-block;
    background-color: #BBDDBB;
    vertical-align: top;
    margin: 10px;
}

.section p {
    font-size: 16px;
}

.section .left, .section .center, .section .right {
    display: inline-block;
    vertical-align: top;
}

.section input[type="submit"], .section button {
    font-size: 20px;
    width: 270px;
    margin-top: 0;
    margin-bottom: 10px;
}

.titli {
    font-family: "Source Sans Pro A", Sans-Serif;
    font-size: 25px;
    color: #638764;
    text-align: center;
    padding-top: 10px;
}

.card {
    font-size: 20px;
    background-color: #FFFFFF;
    border-bottom: solid 2px #696969;
    margin: 10px;
    padding: 10px;
    max-width: 270px;
    text-align: left;
}

.card button {
    position: relative;
    top: 10px;
    font-size: 20px;
    width: 100%;
}

.section .right.card {
    display: block;
}

.card .titi {
    font-family: "Source Sans Pro B", Sans-Serif;
    font-size: 25px;
    color: #6A936B;
    text-align: center;
    margin-bottom: 10px;
}

label {
    font-family: "Source Sans Pro B", Sans-Serif;
    height: 30px;
    margin-bottom: 6px;
}

.card .left {
    width: 30%;
}

.card .right {
    width: 67%;
}

.card .right input, .card .right select {
    width: 100%;
}

#login-register .card .left {
    width: 45%;
}

#login-register .card .right {
    width: 50%;
}

body.mobile .section {
    max-width: 310px;
}

#usersonline {
    margin-bottom: 5px;
    text-align: center;
}
