{% extends "base.html" %}
{% import "account/forms.html" as forms %}
{% block content: %}
    <h2>Account not activated.</h2>
    <p>Thanks for registering for the MSPARP beta. Because the site is not yet open to the public, we need to activate your account before you can use it. We're checking the registrations regularly, so if you applied for the beta then a staff member will activate your account soon and send you an e-mail to let you know. If you didn't apply for the beta then unfortunately you'll just have to wait for MSPARP beta to stop being beta. This will take a (MATHS) number of months.</p>
{% endblock %}
