{% extends "base.html" %}
{% block title: %}Reset your password - {% endblock %}
{% block content: %}
    <h2>Reset your password</h2>
    <form action="{{url_for("reset_password")}}" method="get">
        <input type="hidden" name="token" value="{{g.csrf_token}}">
        <p>What's your username?</p>
        {% if error == "no_user": %}
        <p class="error">There isn't a user with that username.</p>
        {% endif %}
        <p><input type="text" name="username" maxlength="50" required><button type="submit">Submit</button></p>
    </form>
{% endblock %}
