{% extends "base.html" %}
{% block title: %}Reset your password - {% endblock %}
{% block content: %}
    <h2>Reset your password</h2>
    <form action="{{url_for("reset_password")}}" method="post">
        <input type="hidden" name="username" value="{{user.username}}">
        <p>{{user.secret_question.capitalize()}}{{"" if user.secret_question.endswith("?") else "?"}}</p>
        {% if error == "wrong_answer": %}
        <p class="error">Wrong answer.</p>
        {% elif error == "blank": %}
        <p class="error">The password can't be blank.</p>
        {% elif error == "passwords_didnt_match": %}
        <p class="error">The two passwords didn't match.</p>
        {% endif %}
        <div class="input_table">
            <p>
                <label for="register_username_input">Answer:</label>
                <input type="text" name="secret_answer" maxlength="50" required>
            </p>
            <p>
                <label for="register_password_input">Password:</label>
                <input type="password" name="password" required>
            </p>
            <p>
                <label for="register_password_again_input">Password again:</label>
                <input type="password" name="password_again" required>
            </p>
        </div>
        <p><button type="submit">Submit</button></p>
    </form>
{% endblock %}
