<!DOCTYPE html>
{% macro pager(): %}
{% if paginator.page_count!=1 %}
<p class="pager">
{{paginator.pager(format="~20~")|safe}}
</p>
{% endif %}
{% endmacro %}
{% macro render_messages(messages, show_timestamps=True, bbcode_tags=False): %}
    {% set last_date = None %}
    {% for message in messages: %}
    {% if show_timestamps: %}
    {% set current_date = (g.user.localize_time(message.posted) if g.user else message.posted).date() %}
    {% if current_date != last_date %}
	<h2>{{current_date.strftime("%A %d %B %Y")}}</h2>
    {% set last_date = current_date %}
    {% endif %}
    {% endif %}
<div id="message_{{message.id}}" class="message_{{message.type}}{% if message.chat_user != None: %} unum_{{message.chat_user.number}}{% if chat_user and message.chat_user.number in chat_user.highlighted_numbers: %} highlighted{% endif %}{% if chat_user and message.chat_user.number in chat_user.ignored_numbers: %} ignored{% endif %}{% endif %}">
    <div class="unum {% if message.chat_user != None: %}cnum_{{message.chat_user.number}}{% else %}cnum_noclick{% endif %} {% if message.chat_user != None: %}{% if message.chat_user.number >= 1000: %}four_digit{% endif %} {% if message.chat_user.number >= 10000: %}five_digit{% endif %}{% endif %}" tabindex="-1">{% if message.chat_user != None %}<span class="unum_hash">#</span>{{message.chat_user.number}}{% else: %}<span class="unum_system">*</span>{% endif %}</div>
    <p{% if not bbcode_tags: %} style="color: #{{message.color}};"{% endif %}>{% if bbcode_tags == True: %}[color=#{{message.color}}]{% endif %}{% if message.type == "me": %}* {{message.name}} {{message.text}}{% elif chat_user and chat.type == "roulette" and message.type in ("ic", "ooc"): %}{{"▲" if chat_user.number == message.chat_user.number else "▼"}}: {{message.text}}{% else: %}{% if message.acronym != "" %}{{message.acronym}}: {% endif %}{{message.text}}{% endif %}{% if bbcode_tags: %}[/color]{% endif %}{% if show_timestamps: %} <time class="timestamp" datetime="{{message.posted.isoformat()}}">{{(g.user.localize_time(message.posted) if g.user else message.posted).strftime("%H:%M:%S")}}</time>{% endif %}</p>
</div>
    {% endfor %}
{% endmacro %}
<html>
<head>
<title>{% if chat.title: %}{{chat.title}}{% else: %}Chat{% endif %} - MSPARP</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
{% if g.user and g.user.theme == "felt": %}
<meta name="theme-color" content="#0e4603">
{% elif g.user and g.user.theme in ("darkskin", "darkskin_monochrome"): %}
<meta name="theme-color" content="#161823">
{% else: %}
<meta name="theme-color" content="#626262">
{% endif %}
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<script type="text/javascript"> // Make Apple webapp navigable without opening in Safari
    (function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(chref=d.href).replace(e.href,"").indexOf("#")&&(!/^[a-z\+\.\-]+:/i.test(chref)||chref.indexOf(e.protocol+"//"+e.host)===0)&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone");
</script>
<meta name="mobile-web-app-capable" content="yes">
<link rel="apple-touch-icon" href="/static/img/icon-hires.png">
<link rel="icon" sizes="32x32" href="/static/img/icon-32.png">
<link rel="icon" sizes="192x192" href="/static/img/icon-hires.png">
<link rel="icon" sizes="16x16" href="/static/img/icon-16.png">
<link href='//fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/css/normalize.css">
<link rel="stylesheet" href="/static/css/newparp.css">
{% if g.user and g.user.theme: %}
<link id="theme_stylesheet" rel="stylesheet" href="/static/css/themes/{{g.user.theme}}.css">
{% endif %}
</head>
<body class="chat" ontouchstart="">
<script> // Enable form element fallback, avoid flashing
basic_forms=localStorage.getItem("basic_forms");
if (basic_forms == "true") {
document.body.className += ' no_forms';
}
</script>

<div id="global_announcements"></div>

{% block content: %}{% endblock %}

<script src="/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/js/handlebars.min.js"></script>
<script src="/static/js/spectrum.js"></script>
<script src="/static/js/ui.js"></script>
<script src="/static/js/newparp.js"></script>
{% block scripts: %}{% endblock %}

{% if g.user and g.user.timezone == None: %}
<script src="/static/js/jstz-1.0.4.min.js"></script>
<script>
var timezone = jstz.determine().name();
if (timezone) {
	$.post("/settings/timezone", {"timezone": timezone, "token": {{g.csrf_token|tojson|safe}}});
}
</script>
{% endif %}

</body>
</html>
