{% extends "settings/base.html" %}
{% block title: %}Settings - {% endblock %}
{% block content: %}
    {{ super() }}
    <div class="settings_box">
        <div class="settings_box_wrap">
            <h2>Default settings for new chats</h2>
            <form action="{{url_for("settings_post")}}" method="post">
                <input type="hidden" name="token" value="{{g.csrf_token}}">
                <div class="input"><p><input type="checkbox" id="confirm_disconnect" name="confirm_disconnect"{% if g.user.confirm_disconnect: %} checked="checked"{% endif %}><label for="confirm_disconnect"> Confirm disconnect</label></p></div>
                <div class="input"><p><input type="checkbox" id="desktop_notifications" name="desktop_notifications"{% if g.user.desktop_notifications: %} checked="checked"{% endif %}><label for="desktop_notifications"> Desktop notifications</label></p></div>
                <div class="input"><p><input type="checkbox" id="show_system_messages" name="show_system_messages"{% if g.user.show_system_messages: %} checked="checked"{% endif %}><label for="show_system_messages"> Show system messages</label></p></div>
                <div class="input"><p><input type="checkbox" id="show_user_numbers" name="show_user_numbers"{% if g.user.show_user_numbers: %} checked="checked"{% endif %}> <label for="show_user_numbers">Show user numbers</label></p></div>
                <div class="input"><p><input type="checkbox" id="show_bbcode" name="show_bbcode"{% if g.user.show_bbcode: %} checked="checked"{% endif %}><label for="show_bbcode"> Show BBCode</label></p></div>
                <div class="input"><p><input type="checkbox" id="show_timestamps" name="show_timestamps"{% if g.user.show_timestamps: %} checked="checked"{% endif %}><label for="show_timestamps"> Show timestamps</label></p></div>
                <div class="input"><p><input type="checkbox" id="show_preview" name="show_preview"{% if g.user.show_preview: %} checked="checked"{% endif %}><label for="show_preview"> Show preview</label></p></div>
                <div class="input"><p><input type="checkbox" id="typing_notifications" name="typing_notifications"{% if g.user.typing_notifications: %} checked="checked"{% endif %}><label for="typing_notifications"> Typing notifications</label></p></div>
                <div class="input"><p><input type="checkbox" id="enable_activity_indicator" name="enable_activity_indicator"{% if g.user.enable_activity_indicator: %} checked="checked"{% endif %}><label for="enable_activity_indicator"> Enable chat activity indicator</label></p></div>
                <button type="submit">Save</button>
            </form>
            <h2>Device settings</h2>
            <span class="textlabel">These settings are specific to your current device/browser to allow better control.</span>
            <div class="not_input"><p><input type="checkbox" id="basic_forms" class="device_settings" name="basic_form_elements"><label for="basic_forms"> Use basic form elements</label> <a class="explanation_link" onclick="$('#basic_forms_explain').toggle()">(?)</a></p></div>
            <span id="basic_forms_explain" class="explanation" style="display:none">This option removes all theming from basic elements that deal with user input, such as text fields, buttons, and dropdowns, falling back to your browser/OS's native rendering of them.</span>
            <div class="input"><p><input type="checkbox" id="safe_bbcode" class="device_settings" name="safe_bbcode"><label for="safe_bbcode"> Prevent quirks from breaking BBCode</label> <a class="explanation_link" onclick="$('#safe_bbcode_explain').toggle()">(?)</a></p></div>
            <span id="safe_bbcode_explain" class="explanation" style="display:none">This option prevents quirks from triggering when enclosed in [BBCode tags], allowing you to use them safely. Should this behavior be undesirable, you can disable this option.</span>
            <div class="input"><p><input type="checkbox" id="smart_quirk" class="device_settings" name="smart_quirk"><label for="smart_quirk"> Enable smart quirking for actions and dialogue</label> <a class="explanation_link" onclick="$('#smart_quirk_explain').toggle()">(?)</a></p></div>
            <span id="smart_quirk_explain" class="explanation" style="display:none">Smart quirking automatically disables quirking and case for actions within the specified delimiter for Script style chats, and enables them within the quotation delimiter for Paragraph style chats (a closing delimiter is automatically appended to the end of the line if not specified). You can toggle the current setting (Paragraph/Script) in the Settings side bar.<br><br>For example (with default settings):<br> <strong>Script mode =></strong> <em>This text is quirked</em> *With an unquirked action*<br><strong>Paragraph mode =></strong> This text is not quirked. "<em>This text is quirked.</em>", they rebutted.<br><br></span>
            <div class="input smart_quirk_settings"><p>
                <input type="text" id="smart_action_delimiter" name="smart_action_delimiter" size="20" maxlength="5">
                <label for="smart_action_delimiter">Action delimiter</label>
            </p></div>
            <div class="input smart_quirk_settings"><p>
                <input type="text" id="smart_dialogue_delimiter" name="smart_dialogue_delimiter" size="20" maxlength="5">
                <label for="smart_dialogue_delimiter">Dialogue delimiter</label>
            </p></div>
            <div class="input"><p><input type="checkbox" id="material_feedback" class="device_settings" name="material_feedback"><label for="material_feedback"> Enable visual feedback for touch/click events on buttons</label> <a class="explanation_link" onclick="$('#material_explain').toggle()">(?)</a></p></div>
            <span id="material_explain" class="explanation" style="display:none">This option enables ripple-like animations on buttons and dropdown boxes, among other things, similar to Android's native touch feedback.</span>
            <div class="input"><p><input type="checkbox" id="disable_animations" class="device_settings" name="disable_animations"><label for="disable_animations"> Disable all theme animations</label></p></div>
            <div class="input"><p><input type="checkbox" id="disable_left_bar" class="device_settings" name="disable_left_bar"><label for="disable_left_bar"> Disable left side bars</label></p></div>
            <div class="input"><p><input type="checkbox" id="collapse_padding" class="device_settings" name="smart_quirk"><label for="collapse_padding"> Collapse horizontal page margins</label> <a class="explanation_link" onclick="$('#collapse_padding_explain').toggle()">(?)</a></p></div>
            <span id="collapse_padding_explain" class="explanation" style="display:none">In the interest of readability, chat and content width is kept manageable on large, wide screen, displays by default. If you prefer for the page contents to stretch to the outer corners of your screen no matter what, you can enable this option to override this.</span>
            <h2>Site theme</h2>
            <form action="{{url_for("settings_theme")}}" method="post">
                <input type="hidden" name="token" value="{{g.csrf_token}}">
                <div class="input select"><select name="theme">
                    <option value=""{% if g.user.theme == None %} selected="selected"{% endif %}>Default</option>
                    {% for theme, name in themes.items(): %}
                    <option value="{{theme}}"{% if theme == g.user.theme %} selected="selected"{% endif %}>{{name}}</option>
                    {% endfor %}
                </select></div>
                <button type="submit" class="fit_select_button">Save</button>
            </form>
            <h2>Time zone</h2>
            <form action="{{url_for("settings_timezone")}}" method="post">
                <input type="hidden" name="token" value="{{g.csrf_token}}">
                <div class="input select"> <select name="timezone">
                    {% for timezone in timezones: %}
                    <option{% if timezone == g.user.timezone or (timezone == "UTC" and g.user.timezone == None)  %} selected="selected"{% endif %}>{{timezone.replace("_", " ")}}</option>
                    {% endfor %}
                </select></div>
                <button type="submit" class="fit_select_button">Save</button>
            </form>
        </div>
    </div>
{% endblock %}

