{% extends "settings/base.html" %}
{% block title: %}Settings - {% endblock %}
{% block content: %}
    {{ super() }}
    <h2>Default settings for new chats</h2>
    <form action="{{url_for("settings_post")}}" method="post">
        <input type="hidden" name="token" value="{{g.csrf_token}}">
        <p><label><input type="checkbox" name="confirm_disconnect"{% if g.user.confirm_disconnect: %} checked="checked"{% endif %}> Confirm disconnect</label></p>
        <p><label><input type="checkbox" name="desktop_notifications"{% if g.user.desktop_notifications: %} checked="checked"{% endif %}> Desktop notifications</label></p>
        <p><label><input type="checkbox" name="show_system_messages"{% if g.user.show_system_messages: %} checked="checked"{% endif %}> Show system messages</label></p>
        <p><label><input type="checkbox" name="show_bbcode"{% if g.user.show_bbcode: %} checked="checked"{% endif %}> Show BBCode</label></p>
        <p><label><input type="checkbox" name="show_preview"{% if g.user.show_preview: %} checked="checked"{% endif %}> Show preview</label></p>
        <p><label><input type="checkbox" name="typing_notifications"{% if g.user.typing_notifications: %} checked="checked"{% endif %}> Typing notifications</label></p>
        <button type="submit">Save</button>
    </form>
    <h2>Chat theme</h2>
    <form action="{{url_for("settings_theme")}}" method="post">
        <input type="hidden" name="token" value="{{g.csrf_token}}">
        <select name="theme">
            <option value=""{% if g.user.theme == None %} selected="selected"{% endif %}>Default</option>
{% for theme, name in themes.items(): %}
            <option value="{{theme}}"{% if theme == g.user.theme %} selected="selected"{% endif %}>{{name}}</option>
{% endfor %}
        </select>
        <button type="submit">Save</button>
    </form>
    <h2>Time zone</h2>
    <form action="{{url_for("settings_timezone")}}" method="post">
        <input type="hidden" name="token" value="{{g.csrf_token}}">
        <select name="timezone">
{% for timezone in timezones: %}
            <option{% if timezone == g.user.timezone or (timezone == "UTC" and g.user.timezone == None)  %} selected="selected"{% endif %}>{{timezone.replace("_", " ")}}</option>
{% endfor %}
        </select>
        <button type="submit">Save</button>
    </form>
{% endblock %}

