<h1>Edit request</h1>

<form action="{{url_for("rp_edit_request_post", request_id=search_request.id)}}" method="post">
  <p>Current status: {{search_request.status}}</p>
  <p><label>Character: <select name="character_id">
{% for character in characters: %}
    <option value="{{character.id}}"{% if (not selected_character and character.id == search_request.user_character_id) or character.id == selected_character: %} selected="selected"{% endif %}>{{character.title}}</option>
{% endfor %}
  </select></label></p>
  <h2>Tags</h2>
  <p>Enter some tags for your request, separated by commas:</p>
  <p><label>Trigger warnings: <input type="text" name="trigger" maxlength="500" value="{{search_request_tags.trigger}}"></label></p>
  <p><label>Type: <input type="text" name="type" maxlength="500" value="{{search_request_tags.type}}"></label></p>
  <p><label>Fandom(s): <input type="text" name="fandom" maxlength="500" value="{{search_request_tags.fandom}}"></label></p>
  <p><label>Character(s) you're playing: <input type="text" name="playing" maxlength="500" value="{{search_request_tags.playing}}"></label></p>
  <p><label>Character(s) you're looking for: <input type="text" name="wanted" maxlength="500" value="{{search_request_tags.wanted}}"></label></p>
  <p><label>Your character's gender(s): <input type="text" name="playing_gender" maxlength="500" value="{{search_request_tags.playing_gender}}"></label></p>
  <p><label>Gender(s) you're looking for: <input type="text" name="wanted_gender" maxlength="500" value="{{search_request_tags.wanted_gender}}"></label></p>
  <p><label>Any other tags: <input type="text" name="misc" maxlength="500" value="{{search_request_tags.misc}}"></label></p>
  <h2>Info</h2>
{% if error == "blank" %}
  <p class="error">Please fill in at least one of scenario and prompt.</p>
{% endif %}
  <p><label for="request_scenario">Scenario:</label></p>
  <p><textarea id="request_scenario" name="scenario">{% if "scenario" in request.form: %}{{request.form["scenario"]}}{% else: %}{{search_request.scenario}}{% endif %}</textarea></p>
  <p><label for="request_prompt">Prompt:</label></p>
  <p><textarea id="request_prompt" name="prompt">{% if "prompt" in request.form: %}{{request.form["prompt"]}}{% else: %}{{search_request.prompt}}{% endif %}</textarea></p>
  <p><input type="submit" name="draft" value="Save as draft"> <input type="submit" name="post" value="Post request"></p>
</form>
