<h1>Edit request</h1>

<form action="{{url_for("rp_edit_request_post", request_id=search_request.id)}}" method="post">

  <fieldset>
    <legend>Character details</legend>
{% if characters: %}
    <ul>
      <li><label><input type="radio" name="new_or_saved_character" value="new" checked="checked"> Use current details</label></li>
      <li><label><input type="radio" name="new_or_saved_character" value="saved"> Use a saved character:</label> <select name="character_id">
{% for character in characters: %}
      <option value="{{character.id}}"{% if character.id == search_request.character_id: %} selected="selected"{% endif %}>{{character.title}}</option>
{% endfor %}
    </select></li>
    </ul>
    <p><label><input type="checkbox" name="edit_character"> Edit character</label></p>
{% else %}
    <input type="hidden" name="new_or_saved_character" value="new">
{% endif %}
    <h2>Basic info</h2>
    <p><label>Name: <input id="character_name" type="text" name="name" maxlength="50" value="{{search_request.name}}"></label></p>
    <p><label>Alias: <input id="character_alias" type="text" name="alias" maxlength="15" value="{{search_request.alias}}"></label></p>
    <p><label>Color: <input id="character_color" type="text" name="color" maxlength="6" value="{{search_request.color}}"></label></p>
    <h2>Typing quirks</h2>
    <p><label>Prefix: <input id="character_prefix" type="text" name="quirk_prefix" value="{{search_request.quirk_prefix}}"></label></p>
    <p><label>Suffix: <input id="character_suffix" type="text" name="quirk_suffix" value="{{search_request.quirk_suffix}}"></label></p>
    <p><label>Case: <select id="casing" name="case">
{% for value, name in case_options.items(): %}
      <option value="{{value}}"{% if search_request.case == value %} selected="selected"{% endif %}>{{name}}</option>
{% endfor %}
    </select></label></p>
    <h2>Replacements</h2>
    <div class="replacementContainer">
      <ul id="replacementList">
{% if replacements|length!=0: %}
{% for replacement in replacements: %}
        <li><input type="text" name="quirk_from" size="4" value="{{replacement[0]}}"> to <input type="text" name="quirk_to" size="4" value="{{replacement[1]}}"> <a href="#" class="deleteReplacement">x</a></li>
{% endfor %}
{% else %}
        <li><input type="text" name="quirk_from" size="4"> to <input type="text" name="quirk_to" size="4"> <a href="#" class="deleteReplacement">x</a></li>
{% endif %}
      </ul>
      <p><a href="#" id="addReplacement">+Add another replacement</a> <a href="#" id="clearReplacements">-Clear replacements</a></p>
    </div>
    <h2>Regular expressions</h2>
    <div class="replacementContainer">
      <ul id="regexList">
{% if regexes|length!=0: %}
{% for regex in regexes: %}
        <li><input type="text" name="regex_from" size="4" value="{{regex[0]}}"> to <input type="text" name="regex_to" size="4" value="{{regex[1]}}"> <a href="#" class="deleteRegex">x</a></li>
{% endfor %}
{% else %}
        <li><input type="text" name="regex_from" size="4"> to <input type="text" name="regex_to" size="4"> <a href="#" class="deleteRegex">x</a></li>
{% endif %}
      </ul>
      <p><a href="#" id="addRegex">+Add another replacement</a> <a href="#" id="clearRegexes">-Clear replacements</a></p>
    </div>
    <h2>Tags</h2>
    <p>Enter some tags for this character, separated by commas:</p>
    <p><label>Character(s) you're playing: <input type="text" name="character" maxlength="500" value="{{search_request_tags.character}}"></label></p>
    <p><label>Fandom(s) they belong to: <input type="text" name="fandom" maxlength="500" value="{{search_request_tags.fandom}}"></label></p>
    <p><label>Gender(s) they identify as: <input type="text" name="gender" maxlength="500" value="{{search_request_tags.gender}}"></label></p>
    <ul>
{% if characters: %}
      <li><label><input type="radio" name="save_character_as" value="update" checked="checked">Save changes to this character</label></li>
{% endif %}
      <li><label><input type="radio" name="save_character_as" value="new">Save as a new character:</label> <input type="text" name="title" maxlength="50"></li>
      <li><label><input type="radio" name="save_character_as" value="temp">Use details on this request only</label></li>
    </ul>
  </fieldset>

  <fieldset>
    <legend>Tags</legend>
    <p>Enter some tags about your request, separated by commas:</p>
    <p><label>Maturity: <select name="maturity">
{% for name in Tag.maturity_names: %}
      <option value="{{name}}"{% if search_request_maturity == name: %} selected="selected"{% endif %}>{{name.capitalize()}}</option>
{% endfor %}
    </select></label></p>
    <p><label>Trigger warnings: <input type="text" name="trigger" maxlength="500" value="{{search_request_tags.trigger}}"></label></p>
    <p>Type:
{% for name in Tag.type_names: %}
    <label><input type="checkbox" name="type_{{name}}"{% if name in search_request_types: %} checked="checked"{% endif %}> {{name.capitalize()}}</label>
{% endfor %}
    </p>
    <p><label>Character(s) you're looking for: <input type="text" name="character_wanted" value="{{search_request_tags.character_wanted}}"></label></p>
    <p><label>Fandom(s) they belong to: <input type="text" name="fandom_wanted" maxlength="500" value="{{search_request_tags.fandom_wanted}}"></label></p>
    <p><label>Gender(s) they identify as: <input type="text" name="gender_wanted" maxlength="500" value="{{search_request_tags.gender_wanted}}"></label></p>
    <p><label>Any other tags: <input type="text" name="misc" maxlength="500" value="{{search_request_tags.misc}}"></label></p>
  </fieldset>

  <fieldset>
    <legend>Request</legend>
    <h2><label for="request_scenario">Scenario:</label></h2>
    <p><textarea id="request_scenario" name="scenario">{{search_request.scenario}}</textarea></p>
    <h2><label for="request_prompt">Prompt:</label></h2>
    <p><textarea id="request_prompt" name="prompt">{{search_request.prompt}}</textarea></p>
  </fieldset>

  <p><input type="submit" name="draft" value="Save as draft"> <input type="submit" name="post" value="Post request"></p>

</form>

