<h1>Requests</h1>

<p>
{% if page == "all": %}
All requests
{% else: %}
<a href="{{url_for("rp_request_list")}}">All requests</a>
{% endif %}
{% if page == "yours": %}
Your requests
{% else: %}
<a href="{{url_for("rp_your_request_list")}}">Your requests</a>
{% endif %}
</p>

<ul>
{% for search_request in requests: %}
  <li>
{% if page == "yours": %}
    <p>Status: {{search_request.status}}</p>
{% endif %}
{% if search_request.scenario: %}
{% if search_request.scenario|length > 150: %}
    <p>Scenario: {{search_request.scenario[:150]}}<a href="{{url_for("rp_request", request_id=search_request.id)}}">...</a></p>
{% else: %}
    <p>Scenario: {{search_request.scenario}}</p>
{% endif %}
{% endif %}
{% if search_request.prompt: %}
{% if search_request.prompt|length > 150: %}
    <p>Prompt: {{search_request.prompt[:150]}}<a href="{{url_for("rp_request", request_id=search_request.id)}}">...</a></p>
{% else: %}
    <p>Prompt: {{search_request.prompt}}</p>
{% endif %}
{% endif %}
{% if search_request.user_id == g.user.id: %}
    <p>
      <a href="{{url_for("rp_edit_request_get", request_id=search_request.id)}}">Edit</a>
      <a href="{{url_for("rp_delete_request_get", request_id=search_request.id)}}">Delete</a>
    </p>
{% else: %}
    <form action="{{url_for("rp_answer_request", request_id=search_request.id)}}" method="post"><button type="submit">Answer</button></form>
{% endif %}
  </li>
{% endfor %}
</ul>
