{% block pager %}
{% if paginator.page_count!=1 %}
<div class="pager">
{{paginator.pager(format='~5~')}}
</div>
{% endif %}
{% endblock %}

<style>

.tag_list li {
	display: inline;
}

.tag_list li:not(:last-child):after {
	content: ",";
}

</style>

{% if page == "yours" %}
<h1>Your requests</h1>
{% elif page == "tag" %}
<h1>Requests tagged "{{tag.type}}:{{tag.name.replace("_", " ")}}"</h1>
{% else %}
<h1>Requests</h1>
{% endif %}

<p>
{% if page == "all": %}
All requests
{% else: %}
<a href="{{url_for("rp_request_list")}}">All requests</a>
{% endif %}
{% if page == "yours": %}
Your requests
{% else: %}
<a href="{{url_for("rp_your_request_list")}}">Your requests</a>
{% endif %}
<a href="{{url_for("rp_new_request_get")}}">New request</a>
</p>

{{ self.pager() }}

<ul>
{% for search_request in requests: %}
{% set tags = search_request.tags_by_type() %}
  <li class="request">

{% if tags.maturity: %}
    <h3>Maturity:</h3>
    <ul class="tag_list tag_maturity">
{% for tag in tags.maturity: %}
      <li><a href="{{url_for("rp_tagged_request_list", tag_type=tag.type, name=tag.name)}}">{{tag.alias}}</a></li>
{% endfor %}
    </ul>
{% endif %}

{% if tags.trigger: %}
    <h3>Trigger warnings:</h3>
    <ul class="tag_list tag_trigger">
{% for tag in tags.trigger: %}
      <li><a href="{{url_for("rp_tagged_request_list", tag_type=tag.type, name=tag.name)}}">{{tag.alias}}</a></li>
{% endfor %}
    </ul>
{% endif %}

{% if tags.type: %}
    <h3>Type:</h3>
    <ul class="tag_list tag_type">
{% for tag in tags.type: %}
      <li><a href="{{url_for("rp_tagged_request_list", tag_type=tag.type, name=tag.name)}}">{{tag.alias}}</a></li>
{% endfor %}
    </ul>
{% endif %}

{% if tags.fandom: %}
    <h3>Playing fandom:</h3>
    <ul class="tag_list tag_fandom">
{% for tag in tags.fandom: %}
      <li><a href="{{url_for("rp_tagged_request_list", tag_type=tag.type, name=tag.name)}}">{{tag.alias}}</a></li>
{% endfor %}
    </ul>
{% endif %}

{% if tags.fandom_wanted: %}
    <h3>Wanted fandom:</h3>
    <ul class="tag_list tag_fandom_wanted">
{% for tag in tags.fandom_wanted: %}
      <li><a href="{{url_for("rp_tagged_request_list", tag_type=tag.type, name=tag.name)}}">{{tag.alias}}</a></li>
{% endfor %}
    </ul>
{% endif %}

{% if tags.character: %}
    <h3>Playing characters:</h3>
    <ul class="tag_list tag_character">
{% for tag in tags.character: %}
      <li><a href="{{url_for("rp_tagged_request_list", tag_type=tag.type, name=tag.name)}}">{{tag.alias}}</a></li>
{% endfor %}
    </ul>
{% endif %}

{% if tags.character_wanted: %}
    <h3>Wanted characters:</h3>
    <ul class="tag_list tag_character_wanted">
{% for tag in tags.character_wanted: %}
      <li><a href="{{url_for("rp_tagged_request_list", tag_type=tag.type, name=tag.name)}}">{{tag.alias}}</a></li>
{% endfor %}
    </ul>
{% endif %}

{% if tags.gender: %}
    <h3>Playing gender:</h3>
    <ul class="tag_list tag_gender">
{% for tag in tags.gender: %}
      <li><a href="{{url_for("rp_tagged_request_list", tag_type=tag.type, name=tag.name)}}">{{tag.alias}}</a></li>
{% endfor %}
    </ul>
{% endif %}

{% if tags.gender_wanted: %}
    <h3>Wanted gender:</h3>
    <ul class="tag_list tag_gender_wanted">
{% for tag in tags.gender_wanted: %}
      <li><a href="{{url_for("rp_tagged_request_list", tag_type=tag.type, name=tag.name)}}">{{tag.alias}}</a></li>
{% endfor %}
    </ul>
{% endif %}

{% if tags.misc: %}
    <h3>Other tags:</h3>
    <ul class="tag_list tag_misc">
{% for tag in tags.misc: %}
      <li><a href="{{url_for("rp_tagged_request_list", tag_type=tag.type, name=tag.name)}}">{{tag.alias}}</a></li>
{% endfor %}
    </ul>
{% endif %}

{% if page == "yours": %}
    <h3>Status:</h3>
    <p>{{search_request.status}}</p>
{% endif %}

{% if search_request.scenario: %}
    <h3>Scenario:</h3>
    <p>{{search_request.scenario}}</p>
{% endif %}

{% if search_request.prompt: %}
    <h3>Prompt:</h3>
    <p>{{search_request.prompt}}</p>
{% endif %}

{% if search_request.user_id == g.user.id: %}
    <p>
      <a href="{{url_for("rp_edit_request_get", request_id=search_request.id)}}">Edit</a>
      <a href="{{url_for("rp_delete_request_get", request_id=search_request.id)}}">Delete</a>
    </p>
{% else: %}
    <form action="{{url_for("rp_answer_request", request_id=search_request.id)}}" method="post"><button type="submit">Answer</button></form>
{% endif %}

  </li>
{% endfor %}
</ul>

{{ self.pager() }}
