<h1>Request #{{search_request.id}}</h1>

{% if search_request.user == g.user: %}
<p>Status: {{search_request.status}}</p>
{% if search_request.user_character_id %}
{# We didn't join user_character in the view so this causes an extra query. #}
<p>Character: <a href="{{url_for("character", character_id=search_request.user_character.id)}}">{{search_request.user_character.title}}</a></p>
{% endif %}
{% endif %}

{% if search_request.scenario: %}
<p>Scenario: {{search_request.scenario}}</p>
{% endif %}

{% if search_request.prompt: %}
<p>Prompt: {{search_request.prompt}}</p>
{% endif %}

{% if search_request.user_id == g.user.id: %}
<p>
  <a href="{{url_for("rp_edit_request_get", request_id=search_request.id)}}">Edit</a>
  <a href="{{url_for("rp_delete_request_get", request_id=search_request.id)}}">Delete</a>
</p>
{% else: %}
<form action="{{url_for("rp_answer_request", request_id=search_request.id)}}" method="post"><button type="submit">Answer</button></form>
{% endif %}
