{% extends "base.html" %}
{% block title: %}Search character creator - {% endblock %}
{% block content: %}
    <h2>Search character creator</h2>
    {% for group in search_character_groups: %}
    <h3>{{group.name}}</h3>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Character</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for character in group.characters: %}
            <tr>
                <td>{{character.title}}</td>
                <td><span style="color: #{{character.color}}">{{character.name}}</span>{% if character.acronym != "": %} [<span style="color: #{{character.color}}">{{character.acronym}}</span>]{% endif %}</td>
                <td><a href="{{url_for("rp_search_character", id=character.id)}}">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a href="{{url_for("rp_new_search_character_get", group_id=group.id)}}">New character in {{group.name}}</a></p>
    {% endfor %}
    <h3>New group</h3>
    <form action="{{url_for("rp_new_search_character_group_post")}}" method="post">
        <p><input type="text" name="name" required> <button type="submit">Create</button></p>
    </form>
{% endblock %}

