{% extends "base.html" %}
{% import "account/forms.html" as forms %}
{% block content: %}
    <h2>Account not activated.</h2>
    <p>Thanks for registering for the MSPARP beta. Account activation seems to be unavailable at the moment. Please keep an eye on our <a href="http://msparp-beta.tumblr.com"target="_blank">blog</a> to know when activation is back up. </p><br><br><p> If your account has been activated before, but is unavailable now, that means it has been locked due to suspicious activity. Please send in a ticket <a href="http://help.msparp.com">here</a> to find out why your account has been locked.</p>
{% endblock %}
