{% extends "base.html" %}
{% block title: %} {% endblock %}
{% block content: %}
<div class="common_box">
        <h2><label><span>Forgotten your password?</span></label></h2>
        <div class="common_box_wrap register_login_box">
  
   {% if error == "limit": %}
  <p class="error">Sorry, you can only reset your password once per day. Please wait until tomorrow.</p>
   {% elif error == "no_email": %}
                <p class="error">This account doesn't have an e-mail address. Please <a href="http://help.msparp.com/">send us a ticket</a> instead.</p>
   {% elif error == "no_verify": %}
                <p class="error">This account doesn't have a verified e-mail address. Please <a href="http://help.msparp.com/">send us a ticket</a></p>           
   {% elif error == "no_user": %}
                <p class="error">The username {{ username }} does not exist <a href="{{url_for("register")}}">register now</a> instead.</p>
  {% elif error == "success": %}
  <p class="error" style="color:green;font-weight:bold">We have sent you an email with a link to reset your password.</p>

                
    {% endif %}
    
  <form action="{{url_for("forgot_password")}}" method="post" class="tile2">
   <input type="hidden" name="token" value="{{g.csrf_token}}">

   
    
  <div class="input_table">
  <div class="tile2">
    <p>Enter your username, and we'll e-mail you with a link to reset your password.</p>
  </div>
  <div class="input"> <p><input type="text" name="username" id="password_reset_username" maxlength="50" required><label for="password_reset_username">Username</label>
</p></div>
                   </div>
                   <p><button type="submit">Send</button></p>
    </form>
      </div>
</div>
{% endblock %}
