{% extends "base.html" %}
{% block scripts: %}<script>
    var strength = {
    0: "Worst ☹",
    1: "Bad ☹",
    2: "Weak ☹",
    3: "Good ☺",
    4: "Strong ☻"
}

var password = document.getElementById('reset_password_input');
var meter = document.getElementById('password-strength-meter');
var text = document.getElementById('password-strength-text');

password.addEventListener('input', function()
{
    var val = password.value;
    var result = zxcvbn(val);
  
    // Update the password strength meter
    meter.value = result.score;
   
    // Update the text indicator
    if(val !== "") {
        text.innerHTML = "Strength: " + "<strong>" + strength[result.score] + "</strong>" + "<br><br><span class='feedback' style='color:black'>" + result.feedback.warning + " " + result.feedback.suggestions + "</span"; 
    }
    else {
        text.innerHTML = "";
    }
});
  </script>{% endblock %}
{% block title: %}{% endblock %}

{% block content: %}
<div class="common_box">
        <h2><label><span>Reset your Password</span></label></h2>
        <div class="common_box_wrap register_login_box">
  
   <form action="{{url_for("reset_password", **request.args)}}" method="post" class="tile2">
   <input type="hidden" name="token" value="{{g.csrf_token}}">
  {% if "error" in request.args: %}
  {% if request.args["error"] == "passwords_didnt_match": %}
  <p class="error" style="font-weight:bold">Sorry, but the passwords you entered did not match.</p>
  {% elif request.args["error"] == "no_password": %}
  <p class="error" style="font-weight:bold">You can not enter a blank password. </p>          
  {% endif %}
  {% endif %}
  <div class="input_table">
  <div class="tile2">
    <p>Enter your new password below.</p>
  </div>
               
 <div class="input">
  <p><input type="password" name="password" id="reset_password_input" required><label for="reset_password_input">Password</label></p>
  </div>
  <div class="input">
  <p>
                <input type="password" name="password_again" id="reset_password_again_input" required><label for="reset_password_again_input">Password again</label>
                </p>
                </div>
        <meter max="4" id="password-strength-meter"></meter>
        <p id="password-strength-text"></p>
   </div>
                   <p><button type="submit">Send</button></p>
    </form>
      </div>
</div>
{% endblock %}
