{% extends "base.html" %}
{% block title: %}#{{user.id}} {{user.username}} - {% endblock %}
{% block content: %}
<main>
  <h2>Reset your password</h2>
  <form action="{{url_for("account_reset_password", username=user.username)}}" method="post" class="tile2">
    <p>Choose your new password.</p>
    {% if error == "no_password": %}
    <p>Please don't use a blank password.</p>
    {% elif error == "passwords_didnt_match": %}
    <p>The two passwords didn't match.</p>
    {% endif %}
    <p><input type="password" name="password" placeholder="Password..."></p>
    <p><input type="password" name="password_again" placeholder="Password again..."></p>
    <p><button type="submit">Save</button></p>
  </form>
</main>
{% endblock %}