{% extends "base.html" %}
{% block title: %}{% endblock %}
{% block content: %}
<div class="common_box">
        <h2><label><span>Reset your Password</span></label></h2>
        <div class="common_box_wrap register_login_box">
    
    {% if error == "no_password": %}
    <p class="error">Please don't enter a blank password.</p>
    {% elif error == "passwords_didnt_match": %}
    <p class="error">The passwords you entered do not match.</p>
    {% endif %}

   <form action="{{url_for("reset_password", **request.args)}}" method="post" class="tile2">
   <input type="hidden" name="token" value="{{g.csrf_token}}">
    
  <div class="input_table">
  <div class="tile2">
    <p>Enter your new password below.</p>
  </div>
               
 <div class="input">
  <p><input type="password" name="password" id="reset_password_input" required><label for="reset_password_input">Password</label></p>
  </div>
  <div class="input">
  <p>
                <input type="password" name="password_again" id="reset_password_again_input" required><label for="reset_password_again_input">Password again</label>
                </p>
                </div>
   </div>
                   <p><button type="submit">Send</button></p>
    </form>
      </div>
</div>
{% endblock %}
