{% extends "base.html" %}
{% block content: %}
    <h2>Awaiting activation.</h2>
    <p>Thank you for signing up! Before you start using MxRP, please complete this final step to complete your registration. We've sent you an e-mail to confirm your registration. Please click the link provided in the e-mail to activate your account. The e-mail may be in your spam folder so make sure to check there too.</p>
    <p>If you have not received an e-mail within twenty four hours, contact us through <a href="http://help.msparp.com">our support ticket system</a>.</p>
{% endblock %}
